/**
 * @file
 *
 * General theme styles for the style guide.
 */
// scss-lint:disable QualifyingElement
// scss-lint:disable MergeableSelector

.sg-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
}

.exampleOutput {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

h1.styleguide {
  margin-top: $base-spacing;

  &:first-child {
    margin-top: 0;
  }

  &::after {
    background: $gainsboro;
    content: '';
    display: block;
    height: 4px;
    margin: 10px 0 .5em;
    width: 50px;
  }
}

.sg-header__menu__nav li,
.sg-content__content__menu li {
  list-style-type: none;
}

table.styleguide {
  @include table-minimal;
}
