/**
 * @file
 *
 * Syntax highlighting colors for the style guide.
 *
 * Based on Github styles. Style guide uses pygments for highlighting.
 */

hll { background-color: #ffffcc }
.c { color: $pre-border; font-style: italic } /* Comment */
.err { color: $fuschia; background-color: #e3d2d2 } /* Error */
.k { color: $base03; font-weight: bold } /* Keyword */
.o { color: $base03; font-weight: bold } /* Operator */
.cm { color: $pre-border; font-style: italic } /* Comment.Multiline */
.cp { color: $pre-border; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: $pre-border; font-style: italic } /* Comment.Single */
.cs { color: $pre-border; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: $base03; background-color: mix($solar-red, $base03, 25%) !important; } /* Generic.Deleted */
.ge { color: $base03; font-style: italic } /* Generic.Emph */
.gr { color: $fuschia } /* Generic.Error */
.gh { color: $pre-border } /* Generic.Heading */
.gi { color: $base03; background-color: mix($solar-green, $base03, 20%) !important; } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: $fuschia } /* Generic.Traceback */
.kc { color: $base03; font-weight: bold } /* Keyword.Constant */
.kd { color: $base03; font-weight: bold } /* Keyword.Declaration */
.kn { color: $base03; font-weight: bold } /* Keyword.Namespace */
.kp { color: $base03; font-weight: bold } /* Keyword.Pseudo */
.kr { color: $base03; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: $solar-cyan } /* Literal.Number */
.s { color: $orange } /* Literal.String */
.na { color: $solar-green } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: $solar-green } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: $solar-magenta } /* Name.Entity */
.ne { color: $fuschia; font-weight: bold } /* Name.Exception */
.nf { color: $fuschia; font-weight: bold } /* Name.Function */
.nl { color: $fuschia; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: $solar-blue } /* Name.Tag */
.nv { color: $solar-green } /* Name.Variable */
.ow { color: $base03; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: $solar-cyan } /* Literal.Number.Float */
.mh { color: $solar-cyan } /* Literal.Number.Hex */
.mi { color: $solar-cyan } /* Literal.Number.Integer */
.mo { color: $solar-cyan } /* Literal.Number.Oct */
.sb { color: $orange } /* Literal.String.Backtick */
.sc { color: $orange } /* Literal.String.Char */
.sd { color: $orange } /* Literal.String.Doc */
.s2 { color: $orange } /* Literal.String.Double */
.se { color: $orange } /* Literal.String.Escape */
.sh { color: $orange } /* Literal.String.Heredoc */
.si { color: $orange } /* Literal.String.Interpol */
.sx { color: $orange } /* Literal.String.Other */
.sr { color: $solar-green } /* Literal.String.Regex */
.s1 { color: $orange } /* Literal.String.Single */
.ss { color: $solar-magenta } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: $solar-green } /* Name.Variable.Class */
.vg { color: $solar-green } /* Name.Variable.Global */
.vi { color: $solar-green } /* Name.Variable.Instance */
.il { color: $solar-cyan } /* Literal.Number.Integer.Long */