---
layout: default
title: Case Studies
permalink: "/results/case-studies/"
class: case-studies
excerpt: Summarized results of work with clients like Harvard, MIT, Duke among other prestigious institutions.
---

{% include regions/case-study-blocks--limit-4.html %}
{% for client in site.data.clients %}
  {% if client.project == "hunter-boots-js" %}
    {% include regions/client-quote.html class="region--client-quote--dark" client=client %}
  {% endif %}
{% endfor %}
{% include regions/case-study-blocks--other.html %}
{% include regions/cta--elevate-your-organization.html %}

