---
layout: default
title: Case Studies
permalink: "/results/case-studies/"
class: page--case-studies
excerpt: A selection of recent work done by Savas Labs
---

{% include regions/case-study-blocks--limit-4.html %}
{% for client in site.data.clients %}
  {% if client.project == "duke_today" %}
    {% include regions/client-quote.html class="region--client-quote--dark" client=client %}
  {% endif %}
{% endfor %}
{% include regions/case-study-blocks--other.html %}
{% include regions/cta--move-work-forward.html %}

