---
layout: default
title: Durham
permalink: "/durham/"
class: "durham"
excerpt: Savas Labs is a full-service digital agency leveraging the power of Drupal.
---

{% include regions/hero--durham.html %}
{% include regions/service-tiles-durham.html %}
<div class="region--client-quote region--full-width">
    <div class="region--client-quote__wrapper region--full-width__wrapper">
        <div class="region--client-quote__client-info">
            <img src="/assets/img/work/logos/tridug-logo.png" class="region--client-quote__client-info__image" alt="Triangle Drupal User Group logo">
            <p class="region--client-quote__client-info__name heading--bold">Lead Organizer</p>
            <p class="region--client-quote__client-info__title">Triangle Drupal User Group</p>
        </div>
        <div class="region--client-quote__quote">
            <p class="region--client-quote__quote__text">We lead the local Raleigh-Durham chapter of the <a href="https://www.meetup.com/triDUG/">Drupal User Group / Meetup</a>. Monthly we gather to share our knowledge and learn from those in the area who are working on new and interesting technology projects.</p>
        </div>
    </div>
</div>
{% include regions/durham-faves-stripe.html %}
{% include regions/cta--elevate-your-organization.html %}
