---
layout: default
title: Open Source
permalink: "/results/open-source/"
class: page--results__open-source
excerpt: Open source contributions by Savas Labs
---

{% include regions/hero--open-source.html %}

<div class="region--drupal-contributions region">
  <h2 class="heading--underline--orange">Giving Back to the Drupal Community</h2>
  <p>Savas Labs maintains and contributes to a number of Drupal modules.</p>
  {% include regions/text-block-list.html items=site.data.drupal-modules-featured %}
  <div class="delimited-list">
    <p>And many others:</p>
    {% assign modules = site.data.drupal-modules-other | sort: 'number_commits' | reverse %}
    {% for module in modules %}
    <a href="{{ module.link }}" class="delimited-list__item">{{ module.name }} ({{ module.number_commits }})</a>
    {% endfor %}
  </div>
</div>

{% include regions/banner--drupal-meetup.html class="bg-orange" %}

<div class="region--presentations region">
  <h2 class="heading--underline--orange">Presentations</h2>
  {% include regions/text-block-list--presentations.html items=site.data.presentations %}
</div>

{% include regions/cta--explore-our-work.html %}
