---
layout: page
title: Our work
permalink: "/work/"
excerpt: A selection of recent work done by Savas Labs
---
<div class="page-work">
  <div class="case-studies">
    <h2>Recent case studies</h2>
    {% assign items = site.case-studies | sort: 'weight' %}
    {% for item in items %}
    <div class="case-studies__case-study" style="background-image: url({{ item.client_hero_image }});">
      <div class="case-study__title">
        <h3><a href="{{ item.url }}">{{ item.project_title }}</a></h3>
      </div>
      <div class="case-study__description">
        {{ item.project_description | markdownify }}
        <a href="{{ item.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <hr>

  <div class="past-clients">
    <h2>Past clients</h2>
    <div class="flex-container">
      {% for client in site.work %}
      <div class="past-clients__client">
        <a href="{{ client.client_url }}">
          <img alt="{{ client.title }}" src="{{ base.url }}{{ client.image }}">
        </a>
        <p><a href="{{ client.client_url }}">{{ client.title }}</a></p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
