---
layout: default
title: Services
permalink: "/services/"
class: "services"
excerpt: Savas Labs is a full-service digital agency leveraging the power of Drupal.
image: "/assets/img/bg/services-hero.jpg"
---

{% include regions/hero--services.html %}
{% include regions/service-tiles.html %}
{% for client in site.data.clients %}
  {% if client.project == "mitpress-bt" %}
    {% include regions/client-quote.html class="region--client-quote--light" client=client %}
  {% endif %}
{% endfor %}
{% include regions/client-logos-stripe.html %}
{% include regions/cta--elevate-your-organization.html %}
