/**
 * @file
 *
 * Theme styles for the style guide.
 */

body {
  color: $dark-blue;
  font-family: $copytext-font;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fuschia;
  font-family: $heading-font;
  font-weight: 300;
}

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

.sg-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
}

.exampleOutput {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

h1.styleguide {
  margin-top: $base-spacing;

  &:first-child {
    margin-top: 0;
  }

  &::after {
    background: #eee;
    content: '';
    display: block;
    height: 4px;
    margin: 10px 0 .5em;
    width: 50px;
  }
}

a {
  color: $action-color;
  transition: all .1s linear;

  &:hover,
  &:focus {
    color: $action-color-hover;
  }
}

// Give inline links an underlined look.
// scss-lint:disable ColorVariable
p a,
.post li a {
  border-bottom: .1em solid rgba(10, 83, 101, .1);

  &:hover,
  &:focus {
    border-bottom: .1em solid $action-color-hover;
  }
}
// scss-lint:enable ColorVariable

table.styleguide {
  @include table-minimal;
}