/**
 * @file
 *
 * Styles for the style guide footer.
 */

.sg-footer {
  background-color: $gainsboro;

  .sg-outer-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: .5em 1em;

    .sg-footer__logo {
      display: block;
      max-height: 50px;
      padding: .5em  1em .5em 0;
    }

    i {
      padding: .25em;
    }
  }
}
