---
layout: default
permalink: "/"
class: page--home
---

<!-- Cover image and overlaid text. -->
<div class="home__cover">
  <h1 class="home__cover__heading">Savas Labs</h1><hr>
  <p class="home__cover__site-description">{{ site.description }}</p>
  <i class="fa fa-angle-double-down fa-lg" id="home-down-arrow"></i>
</div>

{% include regions/services-icons.html %}
{% include regions/case-study-tiles.html %}
{% include regions/cta--move-work-forward.html %}
{% include regions/blog-tiles--sharing-our-expertise.html %}
