---
layout: default
permalink: "/"
class: page--home
---

<!-- Cover image and overlaid text. -->
<div class="home__cover">
  <h1 class="home__cover__heading">{{ site.primary_statement }}</h1>
  <div class="home__cover__cta">
    <a href="/contact" class="button--arrow">Work with us</a>
  </div>
  <div class="home__cover__content">
    <div class="home__cover__content__col-left">
      <div class="home__cover__content__col-left__text">
        <h2><strong>{{ site.title }}</strong> {{ site.secondary_statement }}</h2>
      </div>
    </div>
    <div class="home__cover__content__col-right">
      <div class="home__cover__content__col-right__text">
        <h3>{{ site.tertiary_statement }}</h3>
      </div>
    </div>
  </div>
</div>

{% include regions/service-icons.html class="icon--service--bold" %}
{% include regions/case-study-tiles.html %}
{% include regions/cta--move-work-forward.html %}
{% include regions/blog-tiles--sharing-our-expertise.html %}
