---
layout: default
permalink: "/"
class: home
---

<!-- Cover image and overlaid text. -->
<div class="home__cover">
  <h1 class="home__cover__heading">We design digital<br> products that<br> users love</h1>
  <div class="home__cover__content">
    <div class="home__cover__content__col-left">
      <div class="home__cover__content__col-left__text">
        <h2><strong>{{ site.title }}</strong> is a strategy, design, and development agency rooted in <span class="nowrap"><a class="link--light" href="/Durham" title="See the Durham office">Durham, NC</a></span></h2>
      </div>
    </div>
    <div class="home__cover__content__col-right">
      <div class="home__cover__content__col-right__text">
        <h3>We craft Drupal web systems <span class="nowrap">that propel organizations</span></h3>
      </div>
    </div>
  </div>
</div>

{% include regions/service-icons.html class="icon--service--bold" %}
{% include regions/case-study-tiles.html %}
{% include regions/cta--elevate-your-organization.html %}
{% include regions/blog-tiles--sharing-our-expertise.html %}
