/**
 * @file
 *
 * Site-wide layout styles.
 */

// For regions that need max width and left and right padding.
.region {
  @include outer-container;
  clear: both;
  max-width: $max-width - 40;
  padding: $base-margin / 2 1em;
  vertical-align: baseline;

  @include grid-media($medium-screen-up) {
    padding: $base-margin 1em;
  }

  @include grid-media($max-width-up) {
    padding: $base-margin 0;
  }
}

// For regions that should appear full width, but whose content should have
// a max-width.
.region--full-width {
  clear: both;
  margin: $base-margin / 2 0;

  @include grid-media($medium-screen-up) {
    margin: $base-margin 0;
  }

  .region--full-width__wrapper {
    @include outer-container;

    margin: 0 auto;
    max-width: $max-width - 40;
    vertical-align: baseline;
  }
}

// Sets max width and centers content in browser window.
.outer-container {
  @include outer-container;
  width: 100%;
}

// Add a class for divs that contain an item that is horizontally and vertically
// centered via flexbox.
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
