<div class="region--banner region--banner--open-source region--full-width {{ include.class }}">
  <div class="region--full-width__wrapper">
    <div class="region--banner--open-source__image">
      <img src="/assets/img/view-open-source-contributions.svg" alt="Open source software icons">
    </div>
    <div class="region--banner--open-source__text">
      <h2>
        <a href="/results/open-source" class="link--light">
          View Our <span class="heading--bold">Open Source</span> Contributions
        </a>
      </h2>
    </div>
  </div>
</div>