<div class="region--banner region--banner--service region--banner--service--integrations region--full-width bg-teal">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3 c-eggshell">Custom Integrations</h2>
      <p class="c-eggshell">We excel at the challenge of a complex integration with legacy or concurrently functioning data systems. We have made publishing, warehouse fulfillment, and various payment systems play nicely together with Drupal websites. Have the need to import/export data and integrate with a system outside of Drupal? We're your team!</p>
      <p class="c-eggshell">If exposing or consuming APIs isn't your thing, we've got your back.</p>
      <a class="link--arrow link--light" href="/contact">Let's talk about integrations</a>
    </div>
    <div class="region--banner--service__image">
      <img src="/assets/img/services/custom-integrations.jpg" alt="Custom software integration">
    </div>
  </div>
</div>
