<div class="region--banner region--banner--open-source region--full-width {{ include.class }}">
  <div class="region--full-width__wrapper">
    <div class="region--banner--open-source__image">
      <!--TODO: Add image.-->
      <img src="" alt="A Drupal meetup member presenting at an event">
    </div>
    <div class="region--banner--open-source__text">
      <h2 class="heading--bold c-eggshell">ORGANIZER:
        <a href="https://www.meetup.com/triDUG/" class="heading--sans-serif link--light link--light--no-hover">
          TriDUG Drupal MeetUp
        </a>
      </h2>
    </div>
  </div>
</div>