<div class="region--banner region--banner--were-hiring region--full-width">
  <div class="region--banner--were-hiring__image">
    <img src="/assets/img/team-magenta-fade.jpg" alt="Team members working together">
  </div>
  <div class="region--banner--were-hiring__text">
    <h2 class="heading--underline--eggshell c-eggshell">
      We're hiring!
    </h2>
    <p class="c-eggshell">
      The needs at Savas Labs are constantly evolving. What remains constant is our desire to better ourselves, our team, and the services we provide to our partners.
    </p>
    <a href="https://savas-labs.breezy.hr/" class="link--arrow link--light--no-hover">View open positions</a>
  </div>
</div>