<div class="region--banner region--banner--tridug--durham region--full-width {{ include.class }}">
  <div class="region--full-width__wrapper">
    <div class="region--banner--open-source__image">
      <a href="https://www.meetup.com/triDUG/">
        <img src="/assets/img/work/logos/tridug-logo.png" alt="Triangle Drupal User Group">
      </a>
      <p><strong>Lead Organizer</strong></p>
      <p>Triangle Drupal User Group</p>
    </div>
    <div class="region--banner--open-source__text">
      <p class="paragraph--loud--responsive">
        We lead the local Raleigh-Durham chapter of the <a href="https://www.meetup.com/triDUG/">Drupal User Group / Meetup</a>. Monthly we gather to share our knowledge and learn from those in the area who are working on new and interesting technology projects.
      </p>
    </div>
  </div>
</div>
