<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__image">
      <img src="/assets/img/services/performance-optimization.png" alt="A chart showing performance improvements">
    </div>
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">Performance Optimization</h2>
      <p>We make things run fast. We recognize the value in page load speed from a brand trust and user-experience standpoint. We are versed in database tuning and server configuration.</p>
      <p>We know the layers of the entire delivery pipeline and use tools like nginx, Varnish, XHProf, Blackfire.io, memcache, redis, and CDNs to push the limits of physics to get your mesage out as quickly as possible.</p>
      <p>Is your website running slow? Business losing conversions?</p>
      <a class="link--arrow" href="/contact">Let us optimize it for you</a>
    </div>
  </div>
</div>