<div class="region--blog-tiles--all region">
  <div class="region--blog-tiles--all__tiles">
    {% if paginator.page == 1 %}
    {% assign count = 0 %}
    {% for post in paginator.posts %}
    {% if count > 2 %}
    {% include components/tile--blog--detailed.html post=post %}
    {% endif %}
    {% assign count = count | plus:1 %}
    {% endfor %}
    {% else %}
    {% for post in paginator.posts %}
    {% include components/tile--blog--detailed.html post=post %}
    {% endfor %}
    {% endif %}
  </div>
  <div class="pagination region--blog-tiles--all__pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination__previous"><i class="fa fa-angle-left"></i> Prev</a>
    {% endif %}
    <span class="pagination__page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination__next">Next <i class="fa fa-angle-right"></i></a>
    {% endif %}
  </div>
</div>