<div class="region--post-aside__posts">
  <h2 class="heading--sans-serif">Related Blog Posts</h2>
  <div class="region--post-aside__case-studies__items">
    {% assign tile_count = 0 %}
    {% assign post_urls = '' %}
    {% for post in site.posts %}
    {% for tag in include.tags %}
    {% if post.tags contains tag and tile_count < 2 %}
    {% unless post_urls contains post.url %}
    {% include components/tile--blog--detailed.html post=post %}
    {% assign post_urls = post_urls | append: post.url %}
    {% assign tile_count = tile_count | plus:1 %}
    {% endunless %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
</div>