<div class="region--centered-paragraph region--centered-paragraph-white region--mission-values--centered-paragraph region--full-width">
    <div class="region--full-width__wrapper">
        <div class="region--centered-paragraph__text">
            <h2 class=" heading--bold h1">Core Values</h2>
            <p>This set of core principles guides our processes internally and provides an open framework so our partners know what they can expect in collaboration with us.</p>
        </div>
    </div>
</div>
