<div class="region--client-quote region--full-width {{ include.class }}">
  <div class="region--client-quote__wrapper region--full-width__wrapper">
    <div class="region--client-quote__client-info">
      <img src="{{ include.client.image }}" class="region--client-quote__client-info__image" alt="{{ include.client.name }}">
      <p class="region--client-quote__client-info__name heading--bold">{{ include.client.name }}</p>
      <p class="region--client-quote__client-info__title">{{ include.client.title }}</p>
    </div>
    <div class="region--client-quote__quote">
      <p class="region--client-quote__quote__text">{{ include.client.quote }}</p>
    </div>
  </div>
</div>