<div class="region--cta region">
  <div class="region--cta__wrapper">
    <h2 class="region--cta__heading c-orange">What does Savas Labs mean?</h2>
    <div class="region--cta__text">
      <p class="paragraph--loud--responsive c-dark-teal">
        The name Savas derives its root from the French word <i>savoir</i> which means "to know". Savas Labs is also a <a href="http://en.wikipedia.org/wiki/Palindrome">palindrome</a>,
        which means it is read forward and backward the same, and implies balance and symmetry. Together, an informed, and balanced approach speaks to how we collaborate with our clients to produce sound solutions.<br>
        To learn more <a href="/2015/06/23/a-man-a-plan-a-canal-a-savas.html">read this post</a>.
      </p>
    </div>
    <a href="/company/mission-and-values" class="button--arrow--orange">Our core values</a>
  </div>
</div>