<footer class="region--footer" role="contentinfo">
  <div class="region--footer__main">
    <div class="region--footer__main__menu">
      <a href="/" class="region--footer__logo">
        <img src="{{ site.url }}/assets/img/logo-light.svg" alt="Savas Labs" class="savas-logo savas-logo--light">
      </a>
      {% include components/navigation--footer.html %}
    </div>
    <div class="region--footer__main__contact">
      <h3 class="region--footer__main__contact__title h5">Connect with us</h3>
      <a href="mailto:info@savaslabs.com">info@savaslabs.com</a>
      <p>(919) 432-4660</p>
      <address>
        SAVAS LABS<br>
        PMB 210<br>
        201 W Main Street, Suite 100<br>
        Durham, NC 27701
      </address>
    </div>
    <div class="region--footer__main__social">
      <div class="region--footer__main__social__icons">
        <ul>
          <li><a href="https://github.com/savaslabs"><i class="fa fa-github fa-lg fa-2x"></i><span class="sr-only">Savas Labs GitHub</span></a></li>
          <li><a href="https://www.drupal.org/node/2466865"><i class="fa fa-drupal fa-lg fa-2x"></i><span class="sr-only">Savas Labs Drupal.Org</span></a></li>
          <li><a href="https://twitter.com/savas_labs"><i class="fa fa-twitter fa-lg fa-2x"></i><span class="sr-only">Savas Labs Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/company/savas-labs"><i class="fa fa-linkedin fa-lg fa-2x"></i><span class="sr-only">Savas Labs LinkedIn</span></a></li>
        </ul>
      </div>
      <div class="region--footer__main__social__twitter">
        <a class="twitter-timeline"  href="https://twitter.com/Savas_Labs" data-widget-id="720223236315815936">Tweets by @Savas_Labs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
  <div class="region--footer__bottom">
    <div class="region--footer__bottom__wrapper">
      <p class="region--footer__bottom__copyright">
        Copyright &copy; Savas Labs {{ 'now' | date: "%Y" }}
      </p>
    </div>
  </div>
</footer>
