<div class="region--hero region--hero--company region--full-width">
  <div class="region--hero--company__wrapper region--full-width__wrapper">
    <div class="region--hero--company__heading-full-width">
      <h1 class="heading--sans-serif heading--bold h1">What we have is special</h1>
      <a class="link--arrow" href="/company/mission-and-values" title="Our mission and core values">Our mission and core values</a>
    </div>
    <div class="region--hero--company__two-col">
      <div class="region--hero--company__two-col__text">
        <h2>Client-centric. Collaborative. Open.<br/>Teamwork that Drives Innovation.</h2>
        <p>Savas Labs is a collection of diverse and deeply talented individuals who better one another by coming together. You'll like working with us.</p>
      </div>
      <div class="region--hero--company__two-col__image"></div>
    </div>
  </div>
</div>
