<div class="region--hero region--hero--half-height region--hero--two-thirds-width region--hero--services region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <div class="region--hero__text">
      <h1 class=" heading--bold heading--underline--orange">We're a Durham<br>Digital Agency</h1>
      <p>We're creating applications and designing interfaces in the constantly-growing downtown Durham — right down the road from Raleigh. And while we work nationally, many of our clients are just a bike or bus ride away. We like it here.</p>
    </div>
    <div class="region--hero__image durham"></div>
  </div>
</div>

