<div class="region--hero region--hero--half-height region--hero--three-col region--hero--open-source region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <div class="region--hero__col region--hero__image">
      <img src="/assets/img/bg/open-source-hero.svg" alt="Savas Labs giving back to Open Source community" />
    </div>
    <div class="region--hero__col region--hero__text">
      <h1 class=" heading--bold heading--underline--orange c-orange">Open Source</h1>
      <p>The Savas Labs team is committed to giving back to the Open Source community by contributing code, sponsoring local events, and sharing our knowledge.</p>
    </div>
    <div class="region--hero__col region--hero__badges">
      <img src="/assets/img/icons-and-logos/drupal_assoc_member_logo.png" alt="Drupal Association Organization Member">
      <img src="/assets/img/icons-and-logos/acquia-community-partner-badge.png" alt="Drupal Association Organization Member">
    </div>
  </div>
</div>
