<div class="region--hero region--hero--half-height region--hero--open-source region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <!--TODO: add open source image-->
    <div class="region--hero__image"></div>
    <div class="region--hero__text">
      <h1 class=" heading--bold c-orange">Open Source</h1>
      <p>The Savas Labs team is committed to giving back to the Open Source community through code contributions, sponsoring local events, and sharing our knowledge.</p>
    </div>
    <div class="region--hero__badges">
      <img src="/assets/img/icons-and-logos/drupal_assoc_member_logo.png" alt="Drupal Association Organization Member">
      <!--TODO: Add Acquia community partner image-->
    </div>
  </div>
</div>