<div class="region--partner-list region">
  <div class="region--partner-list__wrapper">
    <h3 id="partners">Partners</h3>
    <p class="paragraph--loud region--partner-list__description">
      Our partners augment the core team when we need to scale up or bring in specialized skills to deliver for our clients.
    </p>
    <br>
    <div class="region--partner-list__list bio-list">
      {% for partner in site.partners %}
      {% include components/bio--partner.html partner=partner %}
      {% endfor %}
    </div>
  </div>
</div>
