<div class="region--hero region--hero--half-height region--hero--two-thirds-width region--hero--services region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <div class="region--hero__text">
      <h1 class=" heading--bold heading--underline--orange">Services</h1>
      <p>As a full-service agency, Savas Labs provides a multitude of services to a wide array of clients.</p>
      <a class="link--arrow" href="/contact" title="Start a project with us">START A PROJECT WITH US</a>
    </div>
    <div class="region--hero__image"></div>
  </div>
</div>
