/**
 * @file
 *
 * Styles for list of case studies (currently on home and /work).
 */

.case-studies {
  margin: $base-margin 0;

  // Individual case studies.
  .case-studies__case-study {
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: $base-spacing 0;

    @include media($medium-screen-up) {
      @include flex-wrap(nowrap);
    }

    h3,
    p,
    a {
      color: $base-background-color;
      margin-bottom: 0;
    }

    .case-study__title,
    .case-study__description {
      padding: $base-spacing;

      @include media($medium-screen-up) {
        padding: $base-margin $base-spacing;
      }
    }

    .case-study__title {
      padding-bottom: 0;
      text-align: center;

      @include media($medium-screen-up) {
        padding-bottom: $base-margin * 2;
        width: 40%;
      }

      h3 {
        font-size: 200%;
      }
    }

    .case-study__description {
      @include media($medium-screen-up) {
        width: 60%;
      }

      p,
      a {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0;
      }

      a {
        @extend %button-outline;

        display: inline-block;
        margin-top: $base-spacing;

        i {
          margin-left: .5em;
        }
      }
    }
  }
}
