/**
 * @file
 *
 * Styles for the home page cover image (above the fold).
 */

.home__cover {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);

  background: url('/assets/img/home-cover-image/home-cover-code-400.png') $dark-blue center center no-repeat;
  background-size: cover;
  height: 88vh;
  text-align: center;

  // Use proper image depending on screen size and resolution.
  @include hidpi(2) {
    background-image: url('/assets/img/home-cover-image/home-cover-code-800.png');
  }

  // Adjust image height and image used based on screne size and resolution.
  @include grid-media(400px) {
    background-image: url('/assets/img/home-cover-image/home-cover-code-640.png');

    @include hidpi(2) {
      background-image: url('/assets/img/home-cover-image/home-cover-code-1280.png');
    }
  }

  @include grid-media($horizontal-bar-mode) {
    background-image: url('/assets/img/home-cover-image/home-cover-code-860.png');
    height: 78vh;

    @include hidpi(2) {
      background-image: url('/assets/img/home-cover-image/home-cover-code-1720.png');
    }
  }

  @include grid-media($large-screen-up) {
    background-image: url('/assets/img/home-cover-image/home-cover-code-1120.png');
    height: 88vh;

    @include hidpi(2) {
      background-image: url('/assets/img/home-cover-image/home-cover-code-2240.png');
    }
  }

  @include grid-media($extra-large-screen-up) {
    background-image: url('/assets/img/home-cover-image/home-cover-code-1200.png');

    @include hidpi(2) {
      background-image: url('/assets/img/home-cover-image/home-cover-code.png');
    }
  }

  .home__cover__heading,
  .home__cover__site-description {
    margin: 0;
  }

  .home__cover__heading {
    font-size: 2em;
    font-weight: 400;
    margin-top: 30px;
  }

  hr {
    border: solid 2px $teal;
    border-radius: .5px;
    margin: 10px auto 15px;
    width: 170px;
  }

  .home__cover__site-description {
    color: $base-background-color;
    //font-family: $heading-font;
    font-size: 1.5em;
    line-height: 1.3em;
    width: 230px;
  }

  i {
    color: $teal;
    font-size: 2.8em;
    padding-top: 20px;
  }
}
