/**
 * @file
 *
 * Styles for the home page.
 */

.home {

  .wrapper {
    padding-top: 0;

    h3,
    h2 {
      text-align: center;
    }
  }

  .job-posting-block {
    $link-background: lighten($gainsboro, 10%);
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(8);
      @include shift(2);

      float: none;
    }

    p {
      font-size: 1.2em;
      text-align: left;
    }
  }

  .home-blog-list {
    clear: both;
  }
}
