/**
 * @file
 *
 * Below the fold styles for /team.
 */

.associations {
  text-align: center;

  .logos {
    align-items: center;
    display: flex;
    height: 125px;
    justify-content: center;
    width: 100%;

    img {
      margin: 0 1em;
    }
  }
}

.name-description {
  padding-bottom: 0;
  text-align: center;
}
