/**
 * @file
 *
 * Styles for badges on team member pages.
 */

.team-member .team-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .team-badges__badge img {
    max-width: 200px;
    padding: 1em;
  }
}
