/**
 * @file
 *
 * Above the fold styles for team member pages.
 */

.team-member {
  @include outer-container;
  @include media($medium-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }

  .team-header img {
    border-radius: $base-border-radius;
    max-width: 100%;
    width: 350px;
  }

  .team-links {
    margin: 1em auto $base-margin;
    text-align: center;

    @include media($medium-screen-up) {
      width: 60%;
    }

    @include media($large-screen-up) {
      width: 100%;
    }

    li {
      display: inline-block;
      list-style-type: none;
      min-width: 45%;
      padding: 0 .75em;

      @include media($large-screen-up) {
        min-width: 1%;
      }
    }
  }

  // Link icons.
  .fa-file-text {
    font-size: 13px;
  }
}