/**
 * @file
 *
 * Styles for /work.
 */

.page-work {
  h2 {
    text-align: center;
  }

  .case-studies {
    clear: both;
  }

  .client-logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $base-margin;

    .client-logos__logo {
      flex-basis: 15em;
      flex-grow: 0;
      margin: 0 0 $card-margin * 2;
      padding: .5em;
      text-align: center;

      @include grid-media($small-screen-up) {
        margin: 0 $card-margin $card-margin * 2;
      }
    }
  }
}
