/**
 * @file
 *
 * Styles for cover images on case study pages.
 */

.case-study {
  clear: both;

  .case-study__header {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 88vh;
    min-height: 320px;

    // On medium screens, change height to account for menu height.
    @include media($horizontal-bar-mode) {
      height: 78vh;
    }

    // On large screens, adjust height to account for menu height.
    @include media($large-screen-up) {
      height: 88vh;
    }

    .case-study__header__text {
      @include display(flex);
      @include flex-direction(column);

      padding: 1em;

      @include media($case-study-header-break) {
        @include flex-direction(row);
        width: 90%;
      }

      @include media($large-screen-up) {
        width: 80%;
      }

      h1,
      h3,
      p,
      li {
        color: $base-background-color;
      }

      p,
      .case-study__header__link {
        font-size: 1.1em;
        font-weight: bold;

        @include media($case-study-header-break) {
          font-size: 1.25em;
        }
      }

      .case-study__header__text--left {
        @include media($case-study-header-break) {
          border-right: solid 2px $base-background-color;
          padding-right: $base-spacing;
        }

        h1 {
          font-size: 2em;
          margin-bottom: 1em;

          @include media($case-study-header-break) {
            font-size: 2.5em;
          }
        }

        .case-study__header__link {
          @extend %button-outline;

          display: inline-block;
          margin-top: $base-spacing;
        }
      }

      .case-study__header__text--right {
        display: none;

        @include media($case-study-header-break) {
          @include flex-basis(280px);
          @include flex-shrink(0);
          @include display(flex);
          @include flex-direction(column);
          @include justify-content(center);

          padding: 0 0 0 $base-spacing;

          ul {
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }
  }

  .wrapper {
    padding: 0;
  }
}
