{% assign logo = '/assets/img/logo.png' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Durham",
      "addressRegion": "NC",
      "postalCode": "27701",
      "streetAddress": "201 W Main St."
    },
    "description": "{{ site.description }}",
    "email": "info@savaslabs.com",
    "logo": {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "description": "Savas Labs logo",
      "height": "50px",
      "url": "{{ logo| prepend: site.url }}",
      "width": "114px"
    },
    "name": "Savas Labs",
    "telephone": "(919) 432-4660",
    "url": "{{ site.url }}",
    "sameAs": [
      "http://twitter.com/savaslabs",
      "https://www.linkedin.com/company/savas-labs"
    ]
  }
</script>
