{% assign logo = '/assets/img/logo.png' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "JobPosting",
    "datePosted": "2017-11-15",
    "description": "Savas Labs is a cohesive team of outstanding individuals with complementary skill sets. We’re looking to greatly expand our reach to get our expertise in the hands of those who could benefit most from it. The Marketing Director will fulfill our first full-time marketing position. We’re looking for someone with the creativity and drive to help shape the marketing vision coupled with the relevant experience to execute it. The marketing director will work directly with the Savas Labs Principal Director to formulate, select tools for, and implement our marketing strategy in our Durham, NC office.",
    "employmentType": "FULL_TIME",
    "experienceRequirements": "An ideal candidate will have professional experience with a majority of the following: Initiating and managing an at-least monthly newsletter, marketing automation systems, CRM systems, content creation, persona targeting, managing ad campaigns, Drupal CMS, 5+ years B2B marketing.",
    "hiringOrganization": {
      "@context": "http://schema.org",
      "@type": "Organization",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Durham",
        "addressRegion": "NC",
        "postalCode": "27701",
        "streetAddress": "201 W Main St."
      },
      "description": "{{ site.description }}",
      "email": "info@savaslabs.com",
      "logo": {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "description": "Savas Labs logo",
        "height": "50px",
        "url": "{{ logo | prepend: site.url }}",
        "width": "114px"
      },
      "name": "Savas Labs",
      "telephone": "(919) 432-4660",
      "url": "{{ site.url }}"
    },
    "industry": "Web Services",
    "jobLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Durham",
        "addressRegion": "NC",
        "postalCode": "27701",
        "streetAddress": "201 W Main St."
      }
    },
    "qualifications": "An ideal candidate will have professional experience with a majority of the following: Initiating and managing an at-least monthly newsletter, marketing automation systems, CRM systems, content creation, persona targeting, managing ad campaigns, Drupal CMS, 5+ years B2B marketing.",
    "responsibilities": "Work with leadership to refine target market, build brand awareness and positioning, align marketing goals with business strategy, coordinate marketing activities to meet goals and deadlines, set and monitor key performance indicators to optimize marketing plans, support sales efforts with inbound marketing.",
    "title": "Marketing Director",
    "workHours": "Flexible"
  }
</script>
