<!doctype html>
<html>
  <head>
    <title>Savas Labs Front End Style Guide</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="styleguide.css">
  </head>
  <body class="sg-body">
    <header class="sg-header">
      <div class="sg-header__title">
        <div class="sg-outer-container">
          <p class="sg-header__title__text">Savas Labs Front End Style Guide</p>
        </div>
      </div>
      <div class="sg-header__menu">
        <div class="sg-outer-container">
          <nav class="sg-header__menu__nav">
            <ul>
              <li><a href="/styleguide/index.html">Home</a></li>
              <% @categories = @categories.sort { |a,b| a[0].downcase <=> b[0].downcase } %>
              <% @categories.each do |category, file_name| %>
                <li><a href="<%= file_name %>"><%= category %></a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="sg-content">
      <div class="sg-outer-container">
        <div class="sg-content__content">
          <div class="sg-content__content__menu">
            <ul>
              <% @blocks.each do |b| %>
              <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
              <% end %>
            </ul>
          </div>
          <div class="sg-content__content__body">

