/**
 * @file
 *
 * Styles for the Performance Optimization and Custom Integrations banners.
 */

.region--banner--service {
  .region--full-width__wrapper {
    @include grid-media($large-screen-up) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .region--banner--service__image {
      padding: $base-spacing;
      text-align: center;

      @include grid-media($large-screen-up) {
        flex-basis: 50%;
        padding: 0 $base-spacing * 4.5;
      }

      img {
        @include grid-media($small-screen-up) {
          max-width: 300px;
        }

        @include grid-media($large-screen-up) {
          max-width: 100%;
        }
      }
    }

    .region--banner--service__text {
      padding: $base-spacing * 1.5 $base-spacing;

      @include grid-media($large-screen-up) {
        flex-basis: 50%;
        padding: $base-margin $base-spacing * 4.5;
      }

      h2 {
        margin-bottom: 2em;
      }

      p,
      a {
        font-size: 1.1em;
      }

      a {
        display: block;
        margin-top: 2em;
      }
    }
  }
}

.region--banner--service--integrations .region--full-width__wrapper {
  .region--banner--service__image {
    display: none;

    @include grid-media($large-screen-up) {
      display: block;
      padding: 0;
    }

    img {
      @include grid-media($large-screen-up) {
        display: block;
      }
    }
  }
}
