/**
 * @file
 *
 * Styles for full-width banner regions.
 */

/*doc
---
title: Banner
name: banner
category: Regions
---
A full-width element, typically with a call to action.

```html_example
<div class="region--banner region--banner--were-hiring region--full-width">
  <div class="region--banner--were-hiring__image">
    <img src="/assets/img/team-magenta-fade.jpg" alt="Team members working together">
  </div>
  <div class="region--banner--were-hiring__text">
    <h2 class="heading--underline--eggshell c-eggshell">
      We're hiring!
    </h2>
    <p class="c-eggshell">
      The needs at Savas Labs are continually evolving as we grow, but one constant is that we always love to meet ambitious, hard-working people who seek to [excel](/company/mission-and-values/#excel), so if you don't fit perfectly into one of the listings below, please [reach out](/contact) anyhow!
    </p>
    <a href="/company" class="link--arrow link--light--no-hover">View open positions</a>
  </div>
</div>
```

*/
