/**
 * @file
 *
 * Styles for heading banner region.
 */

.region--banner--heading {
  background: url('/assets/img/bg/diamond-texture.svg') $teal repeat;
  margin: 0 0 $base-spacing * .75;

  .region--banner--heading__text {
    padding: $base-spacing;

    @include grid-media($medium-screen-up) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: $base-spacing * 2 $base-spacing * 3;
    }

    h1,
    h1::after {
      margin-bottom: 0;
    }

    p {
      font-style: italic;
      margin-bottom: 0;
      margin-top: $base-spacing;
      text-transform: uppercase;

      @include grid-media($medium-screen-up) {
        margin-top: 0;
      }
    }
  }
}
