/**
 * @file
 *
 * Call to action region styles.
 */

/*doc
---
title: Call to action
name: call-to-action
category: Regions
---

```html_example
<div class="region--cta wrapper">
  <h2 class="region--cta__heading c-orange">Move Work Forward</h2>
  <div class="region--cta__text">
    <p class="paragraph--loud c-dark-teal">Exploring how digital can help you achieve your business goals?<br>
       Want to learn more about our processes?<br>
       We'd love to hear from you!</p>
  </div>
  <a href="/contact" class="button--arrow--orange">Get in touch</a>
</div>
```

*/

.region--cta {
  text-align: center;

  .region--cta__heading {
    margin-bottom: $base-spacing * 1.5;
  }

  .region--cta__text {
    margin-bottom: $base-spacing * 3;
  }
}
