/**
 * @file
 *
 * Case study blocks region styles.
 */

/*doc
---
title: Case study blocks
name: case-study-blocks
category: Regions
---
The following example outputs 3 case study blocks with a CTA link.

```html_example
<div class="region--case-study-blocks region">
  <h2 class="heading--underline--orange region--case-study-blocks__title">Case Studies</h2>
  <div class="region--case-study-blocks__case-studies">
    <div class="case-study-block">
      <a class="case-study-block__link" href="/results/case-studies/duke-today/">
        <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/duke-today-logo-eggshell.png);">
          <img src="/assets/img/work/duke-today/duke-today-block.jpg" alt="Duke Today Redesign">
        </div>
        <h3 class="heading--underline--orange">Duke Today Redesign</h3>
        <div class="case-study-block__tags">
          <p>Drupal </p><p>• </p>
          <p>Content Migration </p><p>• </p>
          <p>UX </p><p>• </p>
          <p>Docker </p>
        </div>
      </a>
    </div>
    <div class="case-study-block">
      <a class="case-study-block__link" href="/results/case-studies/hptn/">
        <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/hptn-logo-eggshell.png);">
          <img src="/assets/img/work/hptn/hptn-block.jpg" alt="HIV Prevention Trials Network (HPTN) Site Redesign">
        </div>
        <h3 class="heading--underline--orange">HIV Prevention Trials Network (HPTN) Site Redesign</h3>
        <div class="case-study-block__tags">
          <p>Drupal 8 </p><p>• </p>
          <p>Responsive Design </p><p>• </p>
          <p>UX </p><p>• </p>
          <p>Client Server Integration </p>
        </div>
      </a>
    </div>
    <div class="case-study-block">
      <a class="case-study-block__link" href="/results/case-studies/pmp-civil-rights-map/">
        <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/pmp-logo-eggshell.png);">
          <img src="/assets/img/work/pmp-civil-rights-map/pmp-civil-rights-map-block.jpg" alt="Durham Civil and Human Rights History Map">
        </div>
        <h3 class="heading--underline--orange">Durham Civil and Human Rights History Map</h3>
        <div class="case-study-block__tags">
          <p>Drupal 8 </p><p>• </p>
          <p>Responsive Design </p><p>• </p>
          <p>UX </p><p>• </p>
          <p>Web Mapping </p>
        </div>
      </a>
    </div>
    <div class="region--case-study-blocks__cta flex-center">
      <a href="/results/case-studies" class="button--arrow--orange">View all case studies</a>
    </div>
  </div>
</div>
```

*/

.region--case-study-blocks {
  .region--case-study-blocks__title {
    color: $dark-teal;
    font-size: 1.728em;
    margin-bottom: $base-spacing * 1.5;
  }

  .region--case-study-blocks__case-studies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include grid-media($large-screen-up) {
      justify-content: space-between;
    }

    > div {
      @include grid-media($large-screen-up) {
        width: 49%;
      }
    }

    .case-study-block {
      margin-bottom: $base-margin;
    }

    .region--case-study-blocks__cta {
      margin-top: 0;

      @include grid-media($large-screen-up) {
        margin-top: 0;
      }

      // This will make the button appear vertically centered with image.
      a {
        font-size: 1em;

        @include grid-media($small-screen-up) {
          font-size: 1.25em;
        }

        @include grid-media($large-screen-up) {
          margin-bottom: 134px;
        }
      }
    }
  }
}
