/**
 * @file
 *
 * For small case study blocks.
 */

/*doc
---
title: Small case study blocks
name: case-study-blocks--small
category: Regions
---
For smaller case study blocks.

```html_example
<div class="region--case-study-blocks region--case-study-blocks--small region">
  <div class="region--case-study-blocks__case-studies">
    <div class="case-study-block">
      <a class="case-study-block__link" href="/results/case-studies/mitpress-allbooks/">
        <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/mitpress-logo-eggshell.png);">
          <img src="/assets/img/work/mitpress-allbooks/mitpress-allbooks-block.jpg" alt="MIT Press AllBooks Importer">
        </div>
        <h3 class="heading--underline--orange">MIT Press AllBooks Importer</h3>
        <div class="case-study-block__tags">
          <p>Drupal </p><p>• </p>
          <p>Module Development </p><p>• </p>
          <p>PHP </p><p>• </p>
          <p>Testing </p>
        </div>
      </a>
    </div>
    <div class="case-study-block">
      <a class="case-study-block__link" href="/results/case-studies/transaction-advisors/">
        <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/transaction-advisors-logo-eggshell.png);">
          <img src="/assets/img/work/transaction-advisors/transaction-advisors-block.jpg" alt="Transaction Advisors Multisite Development">
        </div>
        <h3 class="heading--underline--orange">Transaction Advisors Multisite Development</h3>
        <div class="case-study-block__tags">
          <p>Drupal </p> <p>• </p>
          <p>Multisite </p><p>• </p>
          <p>Payment Processing </p><p>• </p>
          <p>Responsive Design </p>
        </div>
      </a>
    </div>
    <div class="case-study-block">
      <a class="case-study-block__link" href="/results/case-studies/mitpress-cognet/">
        <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/cognet-logo-eggshell.png);">
          <img src="/assets/img/work/mitpress-cognet/mitpress-cognet-block.jpg" alt="MIT Press CogNet Responsive Redesign">
        </div>
        <h3 class="heading--underline--orange">MIT Press CogNet Responsive Redesign</h3>
        <div class="case-study-block__tags">
          <p>Drupal </p><p>• </p>
          <p>Responsive Design </p><p>• </p>
          <p>UX </p><p>• </p>
          <p>Javascript </p>
        </div>
      </a>
    </div>
  </div>
</div>
```

*/

.region--case-study-blocks.region--case-study-blocks--small {
  .region--case-study-blocks__case-studies {
    @include grid-media($medium-screen-up) {
      justify-content: space-between;
    }

    > div {
      @include grid-media($medium-screen-up) {
        width: 49%;
      }

      @include grid-media($large-screen-up) {
        width: 32%;
      }
    }
  }
}
