/**
 * @file
 *
 * Styles for centered paragraph regions.
 */

/*doc
---
title: Centered Paragraph
name: centered-paragraph
category: Regions
---

```html_example
<div class="region--centered-paragraph region--centered-paragraph--white region--full-width">
    <div class="region--full-width__wrapper">
        <div class="region--centered-paragraph__text">
            <h1 class=" heading--bold">Core Values</h1>
            <p>What makes a truly great team out of Savasians is them sharing the same values, same culture and same core qualities.</p>
        </div>
    </div>
</div>
```

*/

.region--centered-paragraph {
  .region--centered-paragraph__text {
    color: $dark-teal;
    margin: 0 auto;
    max-width: 500px;
    padding: 2em;
    text-align: center;
  }
}

.region--centered-paragraph--white {
  background-color: $white;
}
