/**
 * @file
 *
 * Styles for the comments section on a blog post.
 */

.region--comments {
  .region--comments--disabled {
    margin-bottom: 0;
    padding: 1em;
    text-align: center;
  }

  .region--comments__comments {
    margin-bottom: $base-margin;

    .region--comments__link {
      font-weight: bold;
    }

    // Style the success message above the new comment.
    .flash-success {
      margin-top: 1.5em;
    }
  }

  .expander .expander-content {
    @include grid-media($medium-screen-up) {
      @include grid-column(8);
      @include grid-shift(2);
    }

    @include grid-media($large-screen-up) {
      @include grid-column(10);
      @include grid-shift(1);
    }

    @include grid-media($extra-large-screen-up) {
      @include grid-column(8);
      @include grid-shift(2);
    }

    @include grid-media($max-width-up) {
      @include grid-column(6);
      @include grid-shift(3);
    }
  }
}
