/**
 * @file
 *
 * Header styles.
 */

/*doc
---
title: Header
name: header
category: Regions
---

```html_example
<header class="region--header" role="banner">
  <div class="region--header__wrapper">

    <a href="#" class="region--header__logo">
      <img src="/assets/img/logo.svg" alt="Savas Labs logo" class="savas-logo savas-logo--main">
    </a>

    <a href="#" id="js-mobile-menu" class="header-navigation__mobile-menu-link">MENU</a>

    <nav role="navigation" class="header-navigation">
      <ul id="js-navigation-menu" class="header-navigation__menu">
        <li class="header-navigation__menu-link ">
          <a href="#">Company</a>
        </li>
        <li class="header-navigation__menu-link ">
          <a href="#">Results</a>
        </li>
        <li class="header-navigation__menu-link ">
          <a href="#">Services</a>
        </li>
        <li class="header-navigation__menu-link ">
          <a href="#">Blog</a>
        </li>
        <li class="header-navigation__menu-link ">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
```

*/

.region--header {
  background-color: $navigation-background;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  a {
    text-decoration: none;
  }

  .region--header__wrapper {
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .region--header__logo {
    display: inline-block;
    float: left;
    height: $navigation-height;
    margin: 0;
    padding-left: $navigation-padding-horizontal-small;

    @include grid-media($horizontal-bar-mode) {
      padding-left: $navigation-padding-horizontal-large;
      padding-right: 1em;
    }
  }
}
