/**
 * @file
 *
 * Team member list region styles.
 *
 * See 04-components/_bio-list.scss for generic bio list styles.
 */

/*doc
---
title: Team member list
name: team-member-list
category: Regions
---
Note that the team member bio component template uses the Jekyll Picture Tag
plugin to create a `<picture>` element for the team member photo.

```html_example
<div class="region--team-member-list region">
  <div class="region--team-member-list__wrapper">
    <h2 class="heading--underline--magenta">Team</h2>
    <div class="region--team-member-list__list">
      <div class="team-member-bio">
        <a class="team-member-bio__link" href="/company/">
          <div class="team-member-bio__image">
            <img src="/assets/img/team/chris/chris-square-green.jpg" class="image--team-square-small" itemprop="image" alt="Anne Tomasevich">
          </div>
          <h3 class="team-member-bio__name heading--bold heading--sans-serif h5 c-dark-teal">Anne Tomasevich</h3>
          <p class="team-member-bio__title">Front End Developer</p>
          <p class="team-member-bio__description">Anne is a developer at Savas Labs, focused on front-end technologies and user experience.</p>
        </a>
      </div>
      <div class="team-member-bio">
        <a class="team-member-bio__link" href="/company/chris-russo/">
          <div class="team-member-bio__image">
            <img src="/assets/img/team/chris/chris-square-green.jpg" class="image--team-square-small" itemprop="image" alt="Chris Russo">
          </div>
          <h3 class="team-member-bio__name heading--bold heading--sans-serif h5 c-dark-teal">Chris Russo</h3>
          <p class="team-member-bio__title">Principal Director</p>
          <p class="team-member-bio__description">Chris does his best to ensure that his team is learning and growing and that our clients feel like partners.</p>
        </a>
      </div>
      <div class="team-member-bio">
        <a class="team-member-bio__link" href="/company/dan-murphy/">
          <div class="team-member-bio__image">
            <img src="/assets/img/team/dan/dan-square-green.jpg" class="image--team-square-small" itemprop="image" alt="Dan Murphy">
          </div>
          <h3 class="team-member-bio__name heading--bold heading--sans-serif h5 c-dark-teal">Dan Murphy</h3>
          <p class="team-member-bio__title">Web Developer</p>
          <p class="team-member-bio__description">Dan develops back-end solutions and front-end, responsive designs for Savas Labs clients.</p>
        </a>
      </div>
      <div class="team-member-bio">
      <a class="team-member-bio__link" href="/company/">
        <div class="team-member-bio__image">
          <img src="/assets/img/team/chris/chris-square-green.jpg" class="image--team-square" itemprop="image" alt="Kat Nigro">
        </div>
        <h3 class="team-member-bio__name heading--bold heading--sans-serif h5 c-dark-teal">Kat Nigro</h3>
        <p class="team-member-bio__title">Office Administrator</p>
        <p class="team-member-bio__description">Kat is the office admin at Savas Labs. She gets stuff done.</p>
      </a>
    </div>
      <div class="team-member-bio">
        <a class="team-member-bio__link" href="/company/ro-wang/">
          <div class="team-member-bio__image">
            <img src="/assets/img/team/ro/ro-square-green.jpg" class="image--team-square-small" itemprop="image" alt="Ro Wang">
          </div>
          <h3 class="team-member-bio__name heading--bold heading--sans-serif h5 c-dark-teal">Ro Wang</h3>
          <p class="team-member-bio__title">Drupal Developer</p>
          <p class="team-member-bio__description">Ro is a junior web developer at Savas Labs filling her brain daily with myriad things the team throws at her.</p>
        </a>
      </div>
    </div>
  </div>
</div>
```

*/

.region--team-member-list {
  h2 {
    text-align: center;
  }
}
