/**
 * @file
 *
 * Styles for text block list regions.
 */

/*doc
---
title: Text block list
name: text-block-list
category: Regions
---

```html_example
<div class="region--text-block-list">
  <div class="text-block-list-item">
    <a href="https://www.drupal.org/project/rebuild" class="text-block-list-item__link">
      <div class="text-block-list-item__content">
        <h3 class="text-block-list-item__heading heading--bold heading--sans-serif h4">Drush Rebuild</h3>
        <p class="text-block-list-item__text">Drush Rebuild is a utility for rebuilding your local development environments.</p>
        <p class="link--arrow">Learn More</p>
      </div>
    </a>
  </div>
  <div class="text-block-list-item">
    <a href="https://www.drupal.org/project/tournament" class="text-block-list-item__link">
      <div class="text-block-list-item__content">
        <h3 class="text-block-list-item__heading heading--bold heading--sans-serif h4">Tournament</h3>
        <p class="text-block-list-item__text">This module provides a full tournament management system for Drupal.</p>
        <p class="link--arrow">Learn More</p>
      </div>
    </a>
  </div>
  <div class="text-block-list-item">
    <a href="https://www.drupal.org/project/salesforce" class="text-block-list-item__link">
      <div class="text-block-list-item__content">
        <h3 class="text-block-list-item__heading heading--bold heading--sans-serif h4">Salesforce Suite</h3>
        <p class="text-block-list-item__text">This suite of modules supports integration with Salesforce by synchronizing Drupal entities with Salesforce objects.</p>
        <p class="link--arrow">Learn More</p>
      </div>
    </a>
  </div>
  <div class="text-block-list-item">
    <a href="https://www.drupal.org/sandbox/kostajh/1978148" class="text-block-list-item__link">
      <div class="text-block-list-item__content">
        <h3 class="text-block-list-item__heading heading--bold heading--sans-serif h4">SubDrush</h3>
        <p class="text-block-list-item__text">Drush integration for Sublime Text 3.</p>
        <p class="link--arrow">Learn More</p>
      </div>
    </a>
  </div>
  <div class="text-block-list-item">
    <a href="https://www.drupal.org/sandbox/kostajh/1965494" class="text-block-list-item__link">
      <div class="text-block-list-item__content">
        <h3 class="text-block-list-item__heading heading--bold heading--sans-serif h4">Drush Code Deploy</h3>
        <p class="text-block-list-item__text">Drush Code Deploy provides a set of commands for deploying code changes via Git to a remote environment.</p>
        <p class="link--arrow">Learn More</p>
      </div>
    </a>
  </div>
  <div class="text-block-list-item">
    <a href="https://www.drupal.org/project/drupal_up" class="text-block-list-item__link">
      <div class="text-block-list-item__content">
        <h3 class="text-block-list-item__heading heading--bold heading--sans-serif h4">Drupal Up</h3>
        <p class="text-block-list-item__text">Drupal-up is a Drush extension that facilitates building virtual machines for local development of Drupal sites</p>
        <p class="link--arrow">Learn More</p>
      </div>
    </a>
  </div>
</div>
```

*/

.region--text-block-list {
  display: flex;
  flex-wrap: wrap;
  margin: $base-margin 0;

  .text-block-list-item {
    border-bottom: solid 1px $light-grey;
    position: relative;
    width: 100%;

    @include grid-media($small-screen-up) {
      border-right: solid 1px $light-grey;
      width: 50%;
    }

    @include grid-media($large-screen-up) {
      width: 33%;
    }

    @include grid-media($extra-large-screen-up) {
      width: 25%;
    }

    &:nth-child(2n) {
      border-right: 0;

      @include grid-media($large-screen-up) {
        border-right: solid 1px $light-grey;
      }
    }

    &:nth-child(3n) {
      @include grid-media($large-screen-up) {
        border-right: 0;
      }

      @include grid-media($extra-large-screen-up) {
        border-right: solid 1px $light-grey;
      }
    }

    &:nth-child(4n) {
      @include grid-media($extra-large-screen-up) {
        border-right: 0;
      }
    }

    &:nth-last-child(3) {
      @include grid-media($large-screen-up) {
        border-bottom: 0;
      }

      @include grid-media($extra-large-screen-up) {
        border-bottom: solid 1px $light-grey;
      }
    }

    &:nth-last-child(2) {
      @include grid-media($small-screen-up) {
        border-bottom: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    &::after {
      background: $white;
      bottom: -15px;
      content: '';
      display: block;
      height: 30px;
      position: absolute;
      right: -15px;
      width: 30px;
      z-index: 2;
    }
  }
}

.region--presentations .region--text-block-list {
  .text-block-list-item {
    &:nth-last-child(3),
    &:nth-last-child(4) {
      @include grid-media($extra-large-screen-up) {
        border-bottom: 0;
      }
    }
  }
}
