/**
 * @file
 *
 * Styles for the main blog page.
 */

.page--blog {
  .region--blog-tiles--latest,
  .region--footer {
    margin-top: 0;
  }

  .pagination {
    margin-top: $base-margin;
  }

  .region--banner--open-source {
    margin-bottom: 0;
  }
}
