/**
 * @file
 *
 * Styles for the main blog page.
 */

.page--blog {
  .region--banner--heading {
    margin-bottom: 6px;

    h1 {
      @include heading-underline($orange);
    }
  }

  .page--blog__wrapper {
    @include grid-media($large-screen-up) {
      display: flex;
    }

    .region--blog-tiles--all {
      @include grid-media($large-screen-up) {
        flex-basis: 75%;
      }

      .region--blog-tiles--all__tiles {
        > div {
          @include grid-media($large-screen-up) {
            width: 50%;
          }

          @include grid-media($extra-large-screen-up) {
            width: 33.333%;
          }
        }
      }
    }

    .region--blog-topics {
      @include grid-media($large-screen-up) {
        flex-basis: 25%;
      }
    }
  }

  .region--blog-tiles--latest,
  .region--footer {
    margin-top: 0;
  }

  .pagination {
    margin-top: $base-margin;
  }

  .region--banner--open-source {
    margin-bottom: 0;
  }
}
