/**
 * @file
 *
 * Styles for tag pages.
 */

.page--tag {
  .tag__related-case-studies {
    padding-bottom: 0;
  }

  .view-more-link a {
    @include link-arrow;

    margin-bottom: $base-margin;

    @include grid-media($medium-screen-up) {
      @include button-arrow($white, $orange);
    }
  }

  .tag__related-posts {
    padding-bottom: 0;
  }

  .region--blog-tiles--all__tiles {
    margin-bottom: $base-spacing * 1.5;
  }
}
