/**
 * @file
 *
 * Styles for team member pages.
 */

// Team member page.
.page--team {
  .region--blog-tiles--all {
    max-width: $max-width;
  }
}

.region--team-member-top__wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.region--team-member-top {
  margin: 0 auto;
  max-width: $max-width;

  @include grid-media($small-screen-up) {
    padding-bottom: 3em;
  }
}

.region--team-member-top__image_name {
  display: flex;
  flex-wrap: wrap;
}

.region--team-member-top__image {
  flex-basis: 100%;
  padding: 0;

  @include grid-media($small-screen-up) {
    flex-basis: 35%;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 30%;
  }

  img {
    margin-top: 0;

    @include grid-media($small-screen-up) {
      margin-top: 2em;
    }

    @include grid-media($extra-large-screen-up) {
      padding-right: 1em;
    }
  }
}

.region--team-member-top__name {
  flex-basis: 100%;
  padding: $base-spacing;

  @include grid-media($small-screen-up) {
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 $base-spacing;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 70%;
    padding: $base-spacing;
  }

  h1 {
    color: $dark-teal;
    font-family: $copytext-font;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 0;

    &::after {
      margin: 10px 0 .2em;
    }
  }

  p {
    font-weight: 300;
    margin-bottom: 0;
    text-transform: uppercase;

    @include grid-media($extra-large-screen-up) {
      margin-bottom: .75em;
    }
  }
}

.region--team-member-top__bio_links {
  display: flex;
  flex-wrap: wrap;

  > div {
    padding: 0 $base-spacing;

    @include grid-media($small-screen-up) {
      padding: $base-spacing * 2 $base-spacing 0;
    }
  }
}

.region--team-member-top__links {
  flex-basis: 100%;

  @include grid-media($medium-screen-up) {
    flex-basis: 35%;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 30%;
  }

  ul {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    @include grid-media($medium-screen-up) {
      align-content: space-between;
    }

    li {
      display: block;
      list-style: none;
      margin-bottom: .5em;
      padding: .5em 1em;


      @include grid-media($medium-screen-up) {
        display: flex;
        flex-basis: 100%;
        padding: .5em;
      }

      a {
        color: $dark-teal;

        &:hover,
        &:focus,
        &active {
          color: $orange;
        }
      }
    }
  }
}

.region--team-member-top__bio {
  flex-basis: 100%;

  @include grid-media($medium-screen-up) {
    flex-basis: 65%;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 40%;
  }
}

.region--team-member-top__badges {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include grid-media($medium-screen-up) {
    margin-left: 35%;
    width: 65%;
  }

  @include grid-media($extra-large-screen-up) {
    align-items: center;
    flex-basis: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
  }

  a {
    text-align: center;
  }

  img {
    height: auto;
    margin-bottom: $base-spacing * 2;
    max-width: 80%;
    width: 180px;
  }
}


// Team Member Gallery.
.region--team-member-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: .25em auto;
  margin-bottom: 3em;
  max-width: $max-width;

  img {
    display: block;
    width: 100%;
  }

  .region--team-member-gallery__left {
    flex-basis: 100%;

    @include grid-media($small-screen-up) {
      border-right: .25em solid $white;
      flex-basis: 50%;
    }
  }

  .region--team-member-gallery__right {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;

    @include grid-media($small-screen-up) {
      flex-basis: 50%;
    }

    .region--team-member-gallery__cta {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin: 3em auto;

      @include grid-media($small-screen-up) {
        margin: 0;
      }

      h2 {
        color: $dark-teal;
        font-size: 1.25em;
        font-weight: 400;
        margin-bottom: 0;
        padding: .5em 1em;
        text-transform: uppercase;

        @include grid-media($large-screen-up) {
          font-size: 1.953em;
        }
      }

      a {
        color: $orange;

        &:hover,
        &:focus,
        &active {
          color: $dark-teal;
        }
      }
    }

    .region--team-member-gallery__landscape {
      flex: 1;
    }
  }
}

// Blog tiles.
.page--team .region--blog-tiles--all .region--blog-tiles--all__tiles > div {
  padding: $base-spacing / 4;

  @include grid-media($large-screen-up) {
    width: 25%;
  }
}
