/**
 * @file
 *
 * Styles needed above the fold.
 */

// Libraries and base rules.
@import 'scss/01-base/normalize';
@import 'scss/01-base/base';
@import 'scss/01-base/base-layout';

// Typography rules.
@import 'scss/03-typography/blockquote';
@import 'scss/03-typography/code';
@import 'scss/03-typography/code--inline';
@import 'scss/03-typography/headings';
@import 'scss/03-typography/headings--underline';
@import 'scss/03-typography/hr';
@import 'scss/03-typography/links';
@import 'scss/03-typography/links--arrow';
@import 'scss/03-typography/links--cta';
@import 'scss/03-typography/links--inline';
@import 'scss/03-typography/lists';
@import 'scss/03-typography/lists--bordered';
@import 'scss/03-typography/paragraphs';

// Component rules.
// TODO: Once pages are built out, remove anything not shown above the fold.
@import 'scss/04-components/article-heading-links';
@import 'scss/04-components/buttons';
@import 'scss/04-components/buttons--arrow';
@import 'scss/04-components/buttons--submit';
@import 'scss/04-components/case-study-block';
@import 'scss/04-components/fa-icons';
@import 'scss/04-components/form-elements';
@import 'scss/04-components/form-elements--text';
@import 'scss/04-components/form-elements--textarea';
@import 'scss/04-components/forms';
@import 'scss/04-components/header-navigation';
@import 'scss/04-components/header-navigation--menu-link';
@import 'scss/04-components/icons';
@import 'scss/04-components/icons--service';
@import 'scss/04-components/image--hero';
@import 'scss/04-components/image--cover--home';
@import 'scss/04-components/image--hero--company';
@import 'scss/04-components/image--hero--results';
@import 'scss/04-components/image--hero--services';
@import 'scss/04-components/images';
@import 'scss/04-components/images--hero';
@import 'scss/04-components/key-value-list-item';
@import 'scss/04-components/logos';
@import 'scss/04-components/tables';
@import 'scss/04-components/tiles--service';

// TODO: refactor and remove.
@import 'scss/04-components/cards';
@import 'scss/04-components/post-top';
@import 'scss/04-components/previous-next-links';
@import 'scss/04-components/tag';
@import 'scss/04-components/team-member-top';
@import 'scss/04-components/work-case-study-cover-image';

// Region rules.
// TODO: Add any more regions needed.
@import 'scss/05-regions/banner--heading';
@import 'scss/05-regions/case-study-blocks';
@import 'scss/05-regions/header';
@import 'scss/05-regions/service-icons';
@import 'scss/05-regions/service-tiles';

// Layout and page-level rules.
@import 'scss/06-pages/service';
