/**
 * @file
 *
 * Table styles.
 */

// Table refill.
.table-minimal {
  @include table-minimal;
}

// Contact page table.
.table-minimal--contact {
  p {
    display: none;

    @include media(em(450)) {
      display: inline;
    }
  }

  .table-minimal--contact__label {
    width: 30%;

    @include media(em(450)) {
      width: 50%;
    }
  }
}
