<div class="team-member-bio bio-list__bio">
  <a class="team-member-bio__link" href="{{ include.person.url }}">
    <div class="team-member-bio__image">
      {% picture team_square /team/{{ include.person.slug }}/{{ include.person.slug }}-company.jpg alt="{{ include.person.name }}" %}
    </div>
    <h3 class="team-member-bio__name heading--bold heading--sans-serif h5 c-dark-teal">{{ include.person.name }}</h3>
    <p class="team-member-bio__title">{{ include.person.job_title }}</p>
  </a>
</div>