<div class="case-study-block">
  <a class="case-study-block__link" href="{{ include.item.url }}">
    <div class="case-study-block__image" style="background-image: url({{ include.item.client_logo_light }});">
      <img src="/assets/img/work/{{ include.item.slug }}/{{ include.item.slug }}-block.jpg" alt="{{ include.item.project_title }}">
    </div>
    {% if include.heading_level == "h2" %}
    <h2 class="case-study-block__title heading--underline--orange">{{ include.item.project_title }}</h2>
    {% else %}
    <h3 class="case-study-block__title heading--underline--orange">{{ include.item.project_title }}</h3>
    {% endif %}
    <div class="case-study-block__tags">
      {% assign count = 0 %}
      {% for tag in include.item.featured_tags %}
      <p>{{ tag }} </p>
      {% if count < 3 %}
      <p>&bull; </p>
      {% endif %}
      {% assign count = count | plus:1 %}
      {% endfor %}
    </div>
  </a>
</div>