<form id="form--comment" class="form--comment">
  <div class="form--comment__row">
    <div class="form--comment__row__item">
      <div class="form--comment__field form--comment__field--name">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="form--comment__field form--comment__field--email">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <p class="form--comment__helptext">Savas Labs will never sell your email address or spam you.</p>
      </div>
    </div>
    <div class="form--comment__field form--comment__field--comment form--comment__row__item">
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment" rows="4" required></textarea>
      <p class="form--comment__helptext">Plain text format only please.</p>
    </div>
  </div>

  <input type="hidden" name="slug" id="slug" value="{{ page.url }}">
  <label for="url" class="sr-only">If you are a human, do not fill out this field.</label>
  <input type="text" name="url" id="url">

  <div class="form--comment__row">
    <div class="form--comment__field form--comment__field--nocaptcha form--comment__row__item">
      <div class="form--comment__field--nocaptcha__image">
        <img src="/assets/img/icons-and-logos/owl.png" alt="Savas Labs logo">
      </div>
      <div class="form--comment__field--nocaptcha__input">
        <label for="nocaptcha">What type of animal is the Savas Labs logo?</label>
        <p class="form--comment__helptext">Hint: 3 letters long, starts with an "o" and ends with an "l".</p>
        <input type="text" name="nocaptcha" id="nocaptcha" required>
      </div>
    </div>
    <div class="form--comment__row__item">
      <input type="submit" value="Post comment" id="submit" class="form--comment__submit">
    </div>
  </div>
</form>