<div class="partner-bio">
  <a class="partner-bio__link" href="{{ include.person.url }}">
    <div class="partner-bio__image">
      {% picture team_blog_tile partners/{{ include.person.slug }}/{{ include.person.slug }}-square-outside.jpg alt="{{ include.person.name }}" %}
    </div>
    <h3 class="partner-bio__name heading--bold heading--sans-serif h5 c-dark-teal">{{ include.person.name }}</h3>
    <p class="partner-bio__title">{{ include.person.job_title }}</p>
    <p class="partner-bio__description">{{ include.person.job_description }}</p>
  </a>
</div>