<div class="team-partner-bio">
  <a class="team-partner-bio__link" href="{{ include.person.url }}">
    <div class="team-partner-bio__image">
      {% picture team_square /partner/{{ include.person.slug }}/{{ include.person.slug }}-square-green.jpg alt="{{ include.person.name }}" %}
    </div>
    <h3 class="team-partner-bio__name heading--bold heading--sans-serif h5 c-dark-teal">{{ include.person.name }}</h3>
    <p class="team-partner-bio__title">{{ include.person.job_title }}</p>
    <p class="team-partner-bio__description">{{ include.person.job_description }}</p>
  </a>
</div>