<div class="tile--case-study tile">
  <a href="{{ include.item.url }}" class="tile--case-study__link">
    <div class="tile--case-study__content tile__content bg-dark-teal" style="background-image: url(/assets/img/work/{{ include.item.slug }}/{{ include.item.slug }}-tile.jpg);">
      <h3 class="heading--bold c-eggshell h4">{{ include.item.project_title }}</h3>
    </div>
    <div class="tile--case-study__hover tile__hover bg-orange">
      {% capture tile_description %}{{ include.item.tile_description }}{% endcapture %}
      {{ tile_description | markdownify }}
      <p class="link--cta link--cta--inverse">Learn more</p>
    </div>
  </a>
</div>