/**
 * @file
 *
 * Styles for alerts.
 */

/*doc
---
title: Alerts
name: alerts
category: Components
---

```html_example
<div class="flash-alert">Here's something important!</div>
<div class="flash-error">Oh no, an error message!</div>
<div class="flash-notice">Just some information.</div>
<div class="flash-success">Yay, success!</div>
```

*/

.flash-alert { @include flash($alert-color); }

.flash-error { @include flash($error-color); }

.flash-notice { @include flash($notice-color); }

.flash-success { @include flash($success-color); }

.flash-alert,
.flash-error,
.flash-notice,
.flash-success {
  color: $dark-teal;
  transition: all ease-in-out 2s;

  &.hide {
    opacity: 0;
  }
}
