/**
 * @file
 *
 * Bio list styles for team members and partners.
 */

// Justify bios center on small screens and left on extra large and up.
.bio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // Layout styles for the bios in the list.
  .bio-list__bio {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 $base-spacing * .5 $base-spacing * 3;

    @include grid-media($small-screen-up) {
      flex-basis: 50%;
      padding: 0 $base-spacing * 1.5 $base-spacing * 3;
    }

    @include grid-media($medium-screen-up) {
      flex-basis: 33.33%;
    }

    @include grid-media($large-screen-up) {
      flex-basis: 25%;
      padding-left: .75em;
      padding-right: .75em;
    }
  }
}
