/**
 * @file
 *
 * Styles for single blog topics.
 */

.blog-topic__link {
  @include ease;
  background-color: $eggshell;
  border: 1px solid $gainsboro;
  display: block;
  margin: 0 .5em .5em 0;

  &:hover,
  &:focus,
  &:active {
    background-color: $orange;
    color: $eggshell;
  }

  span {
    display: inline-block;
    padding: .25em .5em;
  }

  .blog-topic__number {
    background-color: transparentize($teal, .2);
    color: $eggshell;
    min-width: 32px;
    text-align: center;
  }
}
