/**
 * @file
 *
 * Styles for single blog topics.
 */

.blog-topic {
  margin: .25em;

  p {
    display: inline;
    padding: .25em;
  }

  .blog-topic__name {
    background-color: $eggshell;
  }

  .blog-topic__number {
    background-color: $teal;
    color: $eggshell;
  }
}
