/**
 * @file
 *
 * Styles for single blog topics.
 */

/*doc
---
title: Blog topics
name: blog-topics
category: Regions
---

```html_example
 <div class="region--blog-topics">
  <p class="region--blog-topics__heading heading--bold h4 c-dark-teal">TOPICS</p>
  <div class="region--blog-topics__topics">
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Drupal</span>
        <span class="blog-topic__number">31</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">User Experience</span>
        <span class="blog-topic__number">6</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Drupal 8</span>
        <span class="blog-topic__number">8</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Front End Development</span>
        <span class="blog-topic__number">4</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Design / UX</span>
        <span class="blog-topic__number">7</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Composer</span>
        <span class="blog-topic__number">3</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Continuous Integration</span>
        <span class="blog-topic__number">11</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Drupal 8</span>
        <span class="blog-topic__number">8</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Front End Development</span>
        <span class="blog-topic__number">4</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Design / UX</span>
        <span class="blog-topic__number">7</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Composer</span>
        <span class="blog-topic__number">3</span>
      </a>
    </div>
    <div class="blog-topic">
      <a class="blog-topic__link" href="/blog/tag/drupal">
        <span class="blog-topic__name">Continuous Integration</span>
        <span class="blog-topic__number">11</span>
      </a>
    </div>
  </div>
</div>
```
 */

.blog-topic__link {
  @include ease;
  border-bottom: 1px solid $gainsboro;
  display: block;
  margin: 0 1.25em .5em 0;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    border-color: $orange;
    color: $orange;
  }

  span {
    display: inline-block;
    padding: .25em .5em .15em;
  }

  .blog-topic__name {
    padding-right: 10px;
  }

  .blog-topic__number {
    background-color: $white;
    border: 1px solid $gainsboro;
    border-radius: 13px;
    bottom: -10px;
    color: $teal;
    display: block;
    font-size: .6em;
    height: 22px;
    line-height: 20px;
    min-width: 22px;
    padding: 0;
    position: absolute;
    right: -13px;
    text-align: center;
  }
}
