/**
 * @file
 *
 * Buttons: Submit button styles.
 */

/*doc
---
title: Submit button
name: buttons--submit
category: Components
parent: buttons
---

```html_example_table
<input type="submit" value="Post comment" id="submit">
```

*/

[type="submit"] {
  @include button-dark;

  font-family: $copytext-font;
  padding: 1em 3em;
  text-transform: none;
}
