/**
 * @file
 *
 * Case study block styles.
 */

/*doc
---
title: Case study block
name: case-study-block
category: Components
---

```html_example
<div class="case-study-block">
  <a class="case-study-block__link" href="/results/case-studies/pmp-civil-rights-map/">
    <div class="case-study-block__image" style="background-image: url(/assets/img/work/logos/pmp-logo-eggshell.png);">
      <img src="/assets/img/work/pmp-civil-rights-map/pmp-civil-rights-map-block.jpg" alt="Durham Civil and Human Rights History Map">
    </div>
    <h3 class="heading--underline--orange">Durham Civil and Human Rights History Map</h3>
    <div class="case-study-block__tags">
      <p>Drupal 8 </p><p>• </p>
      <p>Responsive Design </p><p>• </p>
      <p>UX </p><p>• </p>
      <p>Web Mapping </p>
    </div>
  </a>
</div>
```

*/

.case-study-block {

  h3 {
    @include ease;
    margin-bottom: 0;
  }

  .case-study-block__image {
    @include ease;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-bottom: $base-spacing * .75;

    @include grid-media($medium-screen-up) {
      background-size: 50%;
    }

    @include grid-media($large-screen-up) {
      background-size: 70%;
    }

    @include grid-media($extra-large-screen-up) {
      background-size: 50%;
    }

    img {
      @include ease;
      display: block;
    }
  }

  .case-study-block__tags {
    p {
      @include paragraph-loud;

      color: $grey;
      display: inline;
      text-transform: capitalize;
    }
  }

  .case-study-block__link {
    &:hover,
    &:focus {

      h3 {
        color: $orange;
      }

      .case-study-block__image {
        background-color: $orange;

        img {
          opacity: .15;
        }
      }

      .case-study-block__tags p {
        color: $dark-teal;
      }
    }
  }
}
