/**
 * @file
 *
 * Styles for the comments section on blog posts.
 */

// Comment block expander.
.expander {

  .expander-trigger {
    color: $magenta;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    text-align: center;
    text-decoration: none;
    user-select: none;

    &::before {
      content: '\25BC';
      font-size: $expander-arrow-width;
      margin-right: .5em;
    }
  }

  .expander-hidden {
    &::before {
      content: '\25BA';
      font-size: $expander-arrow-width;
    }

    + .expander-content {
      display: none;
    }
  }
}

// Comments.
.post-comments {

  // General form field styles.
  .comment-form__field {
    margin-bottom: 1.5em;

    &__label {
      font-weight: bold;
      margin: 0;
    }

    p,
    input,
    textarea {
      margin-bottom: 0;
    }
  }

  // Text inputs.
  .comment-form__field--name,
  .comment-form__field--email {
    max-width: 375px;
  }

  .comment-form__field--comment {
    max-width: 600px;

    // This removes extra space under textarea in some browsers.
    textarea {
      vertical-align: top;
    }
  }

  // Helptext below fields.
  .comment-form__field__helptext {
    font-size: .8em;
  }

  // Hide honeypot field.
  // scss-lint:disable IdSelector
  #url {
    display: none;
  }
  // scss-lint:enable IdSelector

  // Nocaptcha field.
  .comment-form__field--nocaptcha {
    @include grid-column(12);

    &__image {
      @include grid-column(3);
      text-align: center;

      img {
        width: 4em;
      }
    }

    &__input {
      @include grid-column(9);

      input {
        width: 100px;
      }
    }
  }

  // Submit button.
  .comment-form__submit {
    @extend %button;
    margin-top: 0;
  }

  // Style the success message above the new comment.
  .flash-success {
    margin-top: 1.5em;
  }

  // Style the error message at the top of the comment form.
  .flash-error {
    margin-top: $base-spacing;
  }

  // Highlight field indicated in an error response.
  .error-field {
    border-color: $magenta;
    border-width: 3px;
  }

  // Existing comments.
  .post-comments {
    margin-top: 2.5em;

    .comment {
      .comment__logo {
        float: left;
        height: 1.44em;
        margin-right: .5em;
        padding: .25em 0;
      }

      h5 {
        margin-bottom: 0;
      }

      .comment-date {
        color: darken($light-gray, 25%);
        font-size: .9em;
        margin: .5em 0 .4em;
      }

      .comment-date,
      .comment-text {
        margin-left: 1em;
      }
    }
  }
}
