/**
 * @file
 *
 * Delimited list styles.
 */

/*doc
---
title: Delimited list
name: delimited-list
category: Components
---

```html_example
<div class="delimited-list">
  <a href="https://www.drupal.org/sandbox/kostajh/2478765" class="delimited-list__item">Views GeoJSON Drupal 8 (33)</a>
  <a href="https://www.drupal.org/project/views_geojson" class="delimited-list__item">Views GeoJSON (24)</a>
  <a href="https://www.drupal.org/project/token_actions_extras" class="delimited-list__item">Token Actions Extras (9)</a>
  <a href="https://www.drupal.org/project/inuit" class="delimited-list__item">inuit.css (8)</a>
  <a href="https://www.drupal.org/project/security_check" class="delimited-list__item">Security Check (6)</a>
  <a href="https://www.drupal.org/project/translatableregions" class="delimited-list__item">Translatable Regions (5)</a>
  <a href="https://www.drupal.org/sandbox/kostajh/1454452" class="delimited-list__item">Poll Cookies (4)</a>
</div>
```

*/

.delimited-list {
  > p,
  > a {
    display: inline;
  }

  .delimited-list__item {
    color: $orange;

    &:hover,
    &:focus {
      color: $magenta;
    }

    &::after {
      color: $dark-teal;
      content: ' |';
    }

    &:last-child::after {
      content: '';
    }
  }
}
