/**
 * @file
 *
 * Disclaimer styles.
 */

/*doc
---
title: Disclaimer
name: disclaimer
category: Components
---
Used to add words of caution to outdated blog posts.
```html_example
```

*/

.region--post-header__disclaimer {
  background-color: transparentize($magenta, .9);
  border: solid 1px transparentize($magenta, .7);
  border-radius: 5px;
  margin-bottom: 1.875em;
  padding: 1em;

  h5 {
    margin-top: 0;
  }
}
