/**
 * @file
 *
 * Expander styles.
 */

/*doc
---
title: Expander
name: expander
category: Components
---

```html_example
<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander--hidden">
    <p>Expander</p>
  </a>
  <div id="js-expander-content" class="expander-content region">
    <h2>Expander content</h2>
  </div>
</div>
```

*/

.expander {
  .expander-trigger {
    background-color: $eggshell;
    border-bottom: solid 1px $light-grey;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    overflow: auto;
    text-decoration: none;
    user-select: none;

    p {
      color: $grey;
      display: block;
      margin-bottom: 0;
      padding: $base-spacing;
      text-transform: uppercase;

      @include grid-media($medium-screen-up) {
        @include grid-column(8);
        @include grid-shift(2);

        padding: $base-spacing 0;
      }

      @include grid-media($large-screen-up) {
        @include grid-column(10);
        @include grid-shift(1);
      }

      @include grid-media($extra-large-screen-up) {
        @include grid-column(8);
        @include grid-shift(2);
      }

      @include grid-media($max-width-up) {
        @include grid-column(6);
        @include grid-shift(3);
      }

      &::before {
        content: '\25BC';
        font-size: $expander-arrow-width;
        margin-right: .5em;
      }
    }
  }

  .expander--hidden {
    p::before {
      content: '\25BA';
      font-size: $expander-arrow-width;
    }

    + .expander-content {
      display: none;
    }
  }

  .expander-content {
    @include grid-media($medium-screen-up) {
      @include grid-column(8);
      @include grid-shift(2);
    }

    @include grid-media($large-screen-up) {
      @include grid-column(10);
      @include grid-shift(1);
    }

    @include grid-media($extra-large-screen-up) {
      @include grid-column(8);
      @include grid-shift(2);
    }

    @include grid-media($max-width-up) {
      @include grid-column(6);
      @include grid-shift(3);
    }
  }
}
