/**
 * @file
 *
 * Footer menu styles.
 */

/*doc
---
title: Footer Navigation
name: footer-navigation
category: Components
---
*/

/*doc
---
title: Footer menu
name: 2footer-navigation--menu
category: Components
parent: footer-navigation
---

```html_example
<div class="styleguide-wrapper bg-teal">
  <nav role="navigation" class="footer-navigation">
    <ul class="footer-navigation__menu">
      <li class="footer-navigation__menu-link">
        <a href="#">Company</a>
      </li>
      <li class="footer-navigation__menu-link">
        <a href="#">Results</a>
      </li>
      <li class="footer-navigation__menu-link">
        <a href="#">Services</a>
      </li>
      <li class="footer-navigation__menu-link">
        <a href="#">Blog</a>
      </li>
      <li class="footer-navigation__menu-link">
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</div>
```

*/

.footer-navigation {
  ul {
    margin: 0;
    padding: 0;
  }
}
