/**
 * @file
 *
 * Form elements: General styles.
 */

/*doc
---
title: Form elements
name: form-elements
category: Components
---
See the buttons section for the submit button component.
*/

label {
  font-family: $copytext-font;
  font-weight: bold;
}

#{$all-text-inputs} {
  border-radius: 0;
  padding: .75em;
}
