/**
 * @file
 *
 * Forms: Comment form styles.
 */

/*doc
---
title: Comment form
name: forms--comment
category: Components
parent: forms
---

```html_example
<form id="form--comment" class="form--comment" _lpchecked="1">
  <div class="form--comment__row">
    <div class="form--comment__row__item">
      <div class="form--comment__field form--comment__field--name">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
      </div>
      <div class="form--comment__field form--comment__field--email">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
        <p class="form--comment__helptext">Savas Labs will never sell your email address or spam you.</p>
      </div>
    </div>
    <div class="form--comment__field form--comment__field--comment form--comment__row__item">
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment" rows="4" required=""></textarea>
      <p class="form--comment__helptext">Plain text format only please.</p>
    </div>
  </div>

  <input type="hidden" name="slug" id="slug" value="/2017/02/27/on-web-typography-review.html">
  <input type="text" name="url" id="url">

  <div class="form--comment__row">
    <div class="form--comment__field form--comment__field--nocaptcha form--comment__row__item">
      <div class="form--comment__field--nocaptcha__image">
        <img src="/assets/img/icons-and-logos/owl.png" alt="Savas Labs logo">
      </div>
      <div class="form--comment__field--nocaptcha__input">
        <label for="nocaptcha">What type of animal is the Savas Labs logo?</label>
        <p class="form--comment__helptext">Hint: 3 letters long, starts with an "o" and ends with an "l".</p>
        <input type="text" name="nocaptcha" id="nocaptcha" required="">
      </div>
    </div>
    <div class="form--comment__row__item">
      <input type="submit" value="Post comment" id="submit" class="form--comment__submit">
    </div>
  </div>
</form>
```

*/

.form--comment {
  .form--comment__row {
    clear: both;
    margin-top: $base-spacing * 1.5;
    overflow: auto;
  }

  .form--comment__field {
    margin-bottom: .75em;

    input,
    textarea {
      margin-bottom: 0;
    }
  }

  // Text inputs.
  .form--comment__field--name,
  .form--comment__field--email {
    max-width: 375px;
  }

  // This removes extra space under textarea in some browsers.
  textarea {
    vertical-align: top;
  }

  // Nocaptcha field.
  .form--comment__field--nocaptcha {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    &__image {
      margin-right: $base-spacing;
      text-align: center;

      img {
        display: block;
        width: 40px;
      }
    }

    &__input {

      label {
        margin-bottom: 0;
      }

      .form--comment__helptext {
        margin-bottom: .25em;
      }

      input {
        width: 80px;
      }
    }
  }

  .form--comment__submit {
    margin-top: $base-spacing * 1.5;

    @include grid-media($large-screen-up) {
      margin-top: 0;
    }
  }

  // Helptext below fields.
  .form--comment__helptext {
    font-size: .9em;
    font-style: italic;
  }

  // Hide honeypot field.
  // scss-lint:disable IdSelector
  #url {
    display: none;
  }
  // scss-lint:enable IdSelector

  // Style the error message at the top of the comment form.
  .flash-error {
    margin-top: $base-spacing;
  }

  // Highlight field indicated in an error response.
  .error-field {
    border-color: $magenta;
    border-width: 3px;
  }
}

// The entire text editor component.
.text-editor {
  background: $white;
  border: 1px solid $form-element-border;
  border-radius: 3px;
  font-family: $post-font;
  padding: 1em;

  &:hover {
    border-color: $form-element-border-hover;
  }
}

// Style buttons.
.text-editor__controls {
  font-size: .9em;
  margin-bottom: .25em;
  user-select: none;
}

.text-editor__style-button {
  color: darken($light-grey, 25%);
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 2px 0;
}

.text-editor__style-button--active {
  color: $orange;
}

// The text area within the editor.
.text-editor__editor {
  border-top: 1px solid $form-element-border;
  cursor: text;
  font-size: 1em;
  margin-top: .5em;

  .public-DraftEditorPlaceholder-root,
  .public-DraftEditor-content {
    margin: 0 -1em -1em;
    padding: 1em;
  }

  .public-DraftEditor-content {
    min-height: 100px;
  }

  h3,
  h4 {
    font-weight: 400;
    margin: .75em 0 .5em;

    &:first-child {
      margin-top: 0;
    }
  }
}

// Code blocks.
.public-DraftStyleDefault-pre {
  background-color: $light-gray;
  border: 1px solid $light-gray;
  margin: 1.5em;

  pre {
    background-color: $white;
    border: 0;
    padding: .8em;
  }
}

// Blockquotes within text editor need to be style differently from those in
// blog posts.
.text-editor__editor__blockquote {
  background: 0;
  border-bottom: 0;
  border-left: 5px solid $light-orange;
  border-top: 0;
  color: darken($light-gray, 25%);
  font-family: $post-font;
  font-style: italic;
  margin: 1em 0;
  padding: .5em .75em;

  &::before,
  &::after {
    border: 0;
  }

  span {
    color: lighten($grey, 10%);
    font-size: 1em;
    margin: 0;
  }
}

.text-editor__editor--hide-placeholder .public-DraftEditorPlaceholder-root {
  display: none;
}
