/**
 * @file
 *
 * Form elements: General styles.
 */

/*doc
---
title: Form elements
name: form-elements
category: Components
---
See the buttons section for the submit button component.
*/

label {
  font-family: $copytext-font;
  font-weight: bold;
}

#{$all-text-inputs} {
  border-radius: 0;
  padding: .75em;

  &:focus {
    border-color: lighten($orange, 25%);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06), 0 0 5px rgba(246, 67, 62, .7);
  }
}
