/**
 * @file
 *
 * Forms: Comment form styles.
 */

/*doc
---
title: Comment form
name: forms--comment
category: Components
parent: forms
---

```html_example
<form id="form--comment" class="form--comment" _lpchecked="1">
  <div class="form--comment__helptext">
    <p>Savas Labs will never sell your email address or spam you.</p>
    <p>Plain text format only please.</p>
  </div>
  <div class="form--comment__wrapper">
    <div class="form--comment__column--left">
      <div class="form--comment__field form--comment__field--comment">
        <label for="comment" class="sr-only">Comment</label>
        <textarea name="comment" id="comment" class="" rows="4" placeholder="Leave a comment..." required=""></textarea>
      </div>
    </div>
    <div class="form--comment__column--right">
      <div class="form--comment__field form--comment__field--name">
        <label for="name" class="sr-only">Name</label>
        <input type="text" name="name" id="name" class="" value="" placeholder="Name" required="">
      </div>
      <div class="form--comment__field form--comment__field--email">
        <label for="email" class="sr-only">E-mail</label>
        <input type="email" name="email" id="email" class="" value="" placeholder="E-mail" required="">
      </div>
      <label for="url" class="sr-only">If you are a human, do not fill out this field.</label>
      <input type="text" name="url" id="url" class="form--comment__field--url" value="">
      <div class="form--comment__actions">
        <input type="submit" value="POST" id="submit" class="form--comment__actions--submit">
      </div>
    </div>
  </div>
</form>
```

*/

// Messages.
.form--comment {
  // Style the error message at the top of the comment form.
  .flash-error {
    margin-top: $base-spacing;
  }

  // Highlight field indicated in an error response.
  .error-field {
    border: 3px solid $magenta;
  }
}

// Layout.
.form--comment__wrapper {
  @include grid-media($medium-screen-up) {
    display: flex;

    .form--comment__column--left {
      width: 70%;
    }

    .form--comment__column--right {
      width: 30%;
    }
  }
}

.form--comment__helptext {
  margin-bottom: 1em;

  p {
    line-height: 1.25em;
    margin-bottom: .5em;
  }
}

.form--comment__field,
.form--comment__actions {
  input {
    margin-bottom: 0;
  }
}

// Comment field.
.form--comment__field--comment {
  height: 100%;

  textarea {
    height: 4em;
    margin-bottom: 0;
    overflow: hidden;
    resize: none;
    // We need to override the browser's value for transition.
    // scss-lint:disable ImportantRule
    transition: height .35s ease-in-out !important;
    // scss-lint:enable ImportantRule
    // This removes extra space under textarea in some browsers.
    vertical-align: top;

    @include grid-media($medium-screen-up) {
      height: 66.6%;
    }

    &:focus,
    &.has-text {
      height: 8.5em;
      overflow: auto;

      @include grid-media($medium-screen-up) {
        height: 100%;
      }
    }
  }
}

// Submit button.
.form--comment__actions {
  margin-top: 1em;

  @include grid-media($medium-screen-up) {
    margin-top: 0;
  }

  input {
    border-radius: 0;
    width: 100%;
  }
}

// Hide honeypot field.
.form--comment__field--url {
  display: none;
}
