/**
 * @file
 *
 * Form element: text editor.
 *
 * Note: Styles for inline code can be found in the TextEditor.js file.
 */

// The entire text editor component.
.text-editor {
  background: $white;
  border: 1px solid $form-element-border;
  border-radius: 3px;
  font-family: $post-font;
  padding: 1em;

  &:hover {
    border-color: $form-element-border-hover;
  }
}

// Style buttons.
.text-editor__controls {
  font-size: .9em;
  margin-bottom: .25em;
  user-select: none;
}

.text-editor__style-button {
  color: darken($light-gray, 25%);
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 2px 0;
}

.text-editor__style-button--active {
  color: $orange;
}

// The text area within the editor.
.text-editor__editor {
  border-top: 1px solid $form-element-border;
  cursor: text;
  font-size: 1em;
  margin-top: .5em;

  .public-DraftEditorPlaceholder-root,
  .public-DraftEditor-content {
    margin: 0 -1em -1em;
    padding: 1em;
  }

  .public-DraftEditor-content {
    min-height: 100px;
  }

  h3 {
    font-weight: 400;
    margin: .75em 0 .5em;

    &:first-child {
      margin-top: 0;
    }
  }
}

// Code blocks.
.public-DraftStyleDefault-pre {
  background-color: $lightest-gray;
  border: 1px solid $lightest-gray;
  margin: 1.5em;

  pre {
    background-color: $white;
    border: 0;
    padding: .8em;
  }
}

// Blockquotes within text editor need to be style differently from those in
// blog posts.
.text-editor__editor__blockquote {
  background: 0;
  border-bottom: 0;
  border-left: 5px solid $light-orange;
  border-top: 0;
  color: darken($lightest-gray, 25%);
  font-family: $post-font;
  font-style: italic;
  margin: 1em 0;
  padding: .5em .75em;

  &::before,
  &::after {
    border: 0;
  }

  span {
    color: lighten($gray, 10%);
    font-size: 1em;
    margin: 0;
  }
}
