/**
 * @file
 *
 * Header menu link styles.
 */

/*doc
---
title: Header menu link
name: 1header-navigation--menu-link
category: Components
parent: header-navigation
---
A normal menu link plus the bold, magenta Contact link.

```html_example
<li class="header-navigation__menu-link ">
  <a href="#">Services</a>
</li>
<li class="header-navigation__menu-link ">
  <a href="#">Contact</a>
</li>
```

*/

.header-navigation__menu-link {
  display: block;
  line-height: $navigation-height / 2;
  overflow: hidden;
  padding-right: .8em;
  text-align: right;
  width: 100%;
  z-index: 9999;

  @include grid-media($medium-screen-up) {
    display: inline;
    line-height: $navigation-height;
    margin-right: -5px; // Fix space between inline elements.
    padding-right: 0;
    width: auto;

    &:last-child {
      margin-right: 0;
    }
  }

  // Styles for final menu item.
  // When not active or in hover/focus state, color should be magenta.
  &:last-child:not(.active-nav-item):not(:hover):not(:focus) {
    a {
      color: $magenta;
    }
  }

  // Final menu item should always be bold.
  &:last-child {
    a {
      font-weight: bold;
    }
  }

  a {
    color: $navigation-color;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color ease .2s;

    // scss-lint:disable DeclarationOrder
    &:focus,
    &:hover {
      color: $navigation-color-hover-small;
    }

    @include grid-media($horizontal-bar-mode) {
      padding-left: .75em;
      padding-right: .75em;

      &:focus,
      &:hover {
        background-color: $navigation-background-hover;
        color: $navigation-color-hover-large;
      }
    }
    // scss-lint:enable DeclarationOrder
  }
}

// Active nav item: li element styled on small screens in mobile menu, a element
// styled on large screens.
.header-navigation__active-nav-item {
  background-color: $navigation-background-hover;

  @include grid-media($horizontal-bar-mode) {
    background-color: $navigation-background;
    color: $navigation-color;
  }

  a {
    color: $navigation-color-hover-large;

    @include grid-media($horizontal-bar-mode) {
      background-color: $navigation-background-hover;
    }
  }
}
