/**
 * @file
 *
 * Styles for the home page.
 */

.home {

  .wrapper {
    h3,
    h2 {
      text-align: center;
    }
  }

  .job-posting-block {
    $link-background: lighten($gainsboro, 10%);
    text-align: center;

    .job-posting-block__content {
      @include grid-media($medium-screen-up) {
        @include grid-column(8);
        @include grid-shift(2);

        float: none;
      }
    }

    p {
      font-size: 1.2em;
      text-align: left;
    }
  }

  .home-blog-list {
    clear: both;
  }
}
