/**
 * @file
 *
 * Service icon styles.
 */

/*doc
---
title: Service icons
name: icon--service
category: Components
parent: icons
---

```html_example
<div class="icon--service">
  <a href="/services/design-ux/" class="icon--service__link">
    <div class="icon--service__image">
      <img src="/assets/img/icons-and-logos/design-ux-icon.svg" alt="Design / UX">
    </div>
    <p class="icon--service__title">Design / UX</p>
  </a>
</div>
```
*/

.icon--service {
  .icon--service__link {
    align-items: center;
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
      .icon--service__image {
        background-color: $orange;

        img {
          filter: brightness(0) invert(1);
        }
      }

      .icon--service__title {
        color: $orange;
      }
    }
  }

  .icon--service__image {
    @include ease;
    border-radius: 50%;
    margin-bottom: $base-spacing / 2;
    padding: .75em;
    width: 4em;

    img {
      @include ease;
      display: block;
    }
  }

  .icon--service__title {
    @include ease;

    font-size: 1.1em;
    text-align: center;

    @include grid-media($large-screen-up) {
      @include paragraph-loud;
    }
  }
}
