/**
 * @file
 *
 * Styles for iframe elements (mostly overrides and centering).
 */

// Need to override inline style from Twitter iframe.
// scss-lint:disable ImportantRule
.twitter-tweet, .region--post-content iframe {
  margin: 3em auto !important;
  display: block;

  &.no--margin {
    margin: 0 !important;
  }
}
// scss-lint:enable ImportantRule

.asciicast {
  text-align: center;
}
