/**
 * @file
 *
 * Styles for iframe elements (mostly overrides and centering).
 */

// Need to override inline style from Twitter iframe.
// scss-lint:disable ImportantRule
.twitter-tweet {
  margin: 3em auto !important;
}
// scss-lint:enable ImportantRule

// iframes in blog posts.
.region--post-content iframe {
  display: block;
  margin: 3em auto;

  &.m0 {
    margin: 0;
  }
}

.asciicast {
  text-align: center;
}
