/**
 * @file
 *
 * Hero image styles.
 */

/*doc
---
title: Hero image
name: images--hero
category: Components
parent: images
---

```html_example
```

*/

.region--hero {
  margin: 0 0 $base-spacing * 2;

  .region--hero__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    @include grid-media($medium-screen-up) {
      flex-wrap: nowrap;
    }
  }

}

// Region with hero image takes 50% of vertical height.
.region--hero--half-height {
  background: $dark-teal;

  .region--hero__wrapper {

    @include grid-media($medium-screen-up) {
      min-height: calc(50vh - 84px);
    }
  }

}

// Hero image takes 100% of horizontal width.
// Text content center over the hero image and
// weighted towards the bottom of the image.
.region--hero--full-width {

  .region--hero__text {
    align-content: center;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 600px;
    min-height: 200px;
    padding: $base-spacing * 3 $base-spacing * 2;
    text-align: center;

    @include grid-media($medium-screen-up) {

    }
  }

}

// Hero image takes 50% of horizontal width.
.region--hero--half-width {

  .region--hero__text,
  .region--hero__image {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 200px;

    @include grid-media($medium-screen-up) {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
    }
  }

  .region--hero__text {
    color: $eggshell;
    padding: $base-spacing * 3 $base-spacing;

    @include grid-media($medium-screen-up) {
      order: 1;
      padding: $base-spacing * 4 $base-spacing * 2 $base-spacing * 4 $base-spacing;
    }

    h1 {
      font-size: 1.25em;

      @include grid-media($medium-screen-up) {
        font-size: 1.953em;
      }
    }
  }

  .region--hero__image {
    background-color: $dark-teal;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;

    @include grid-media($medium-screen-up) {
      order: 2;
    }
  }
}

// Hero image takes 70% of horizontal width.
.region--hero--two-thirds-width {

  .region--hero__wrapper {
    flex-wrap: wrap;

    @include grid-media($large-screen-up) {
      flex-wrap: nowrap;
    }
  }

  .region--hero__text,
  .region--hero__image {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 200px;

    @include grid-media($large-screen-up) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .region--hero__text {
    padding: $base-spacing * 3 $base-spacing;

    @include grid-media($large-screen-up) {
      flex-basis: 35%;
      padding: $base-spacing * 4 $base-spacing * 2 $base-spacing * 4 $base-spacing;
    }

    h1 {
      font-size: 1.25em;

      @include grid-media($medium-screen-up) {
        font-size: 1.953em;
      }
    }

    a {
      font-size: 1em;
    }
  }

  .region--hero__image {
    background-color: $dark-teal;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include grid-media($large-screen-up) {
      flex-basis: 65%;
    }
  }
}
