/**
 * @file
 *
 * Hero image styles for careers page.
 */

.region--hero--careers {
  background-color: $dark-teal;
  background-image: url('/assets/img/bg/careers-hero.jpg');
  background-position: center center;
  background-size: cover;
  height: 60vh;
  margin: 0;

  @include grid-media($large-screen-up) {
    height: 70vh;

    &.position {
      height: 30vh;
    }
  }

  &.position {
    height: 40vh;
  }
}
