/**
 * @file
 *
 * Blog post image styles.
 */
.page--post {
  .region--featured-image {
    img,
    picture {
      width: 100%;
    }

    p {
      color: $grey;
      font-size: .9em;
      text-align: center;
    }
  }
}

.blog-image {
  display: block;

  // Set font size to what is normally 1em for spacing purposes.
  font-size: .888em;
  margin: 1em auto;
  max-width: 250px;
  width: 100%;

  @include grid-media($medium-screen-up) {
    &.wrap-right {
      float: left;
      margin-right: 40px;
    }

    &.wrap-left {
      float: right;
      margin-left: 40px;
    }
  }

  p {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
  }
}

.blog-image-large {
  @extend .blog-image;
  max-width: 500px;
  width: 100%;
}

.blog-image-full-width {
  @extend .blog-image;
  display: block;
  margin-left: -$base-spacing;
  max-width: none;
  width: calc(100% + 2em);
}

// The following styles make full width images span the width of the article
// container, even though the text body may be less wide to maintain
// readability. See _post.scss for corresponding styles on
// .region--post-content.
.blog-image-full-width,
.blog-row {
  @include grid-media($medium-screen-up) {
    margin-left: -1.5em;
    width: calc(100% + 3em);
  }

  @include grid-media($extra-large-screen-up) {
    margin-left: -4em;
    width: calc(100% + 8em);
  }

  @media (min-width: 1280px) {
    margin-left: -5em;
    width: calc(100% + 10em);
  }

  @media (min-width: 1360px) {
    margin-left: -7em;
    width: calc(100% + 14em);
  }

  @include grid-media($max-width-up) {
    margin-left: -8em;
    width: calc(100% + 16em);
  }
}

.blog-image-left {
  @extend .blog-image;
  display: inline-block;
  float: left;
  margin-left: -$base-spacing;
  margin-right: $base-spacing * 1;
  max-width: none;
  width: calc(100% + 2em);

  // On larger screens, image should touch left side of container.
  @include grid-media($medium-screen-up) {
    margin-left: -$base-spacing * 1.5;
    width: calc(50% + 1.5em);
  }

  @include grid-media($extra-large-screen-up) {
    margin-left: -$base-spacing * 4;
    width: calc(50% + 4em);
  }

  @media (min-width: 1280px) {
    margin-left: -5em;
    width: calc(50% + 5em);
  }

  @media (min-width: 1360px) {
    margin-left: -7em;
    width: calc(50% + 7em);
  }

  @include grid-media($max-width-up) {
    margin-left: -8em;
    width: calc(50% + 8em);
  }
}

.blog-image-right {
  @extend .blog-image;
  display: inline-block;
  float: right;
  margin-left: $base-spacing * 1;
  margin-right: -$base-spacing;
  max-width: none;
  width: calc(100% + 2em);

  // On larger screens, image should touch right side of container.
  @include grid-media($medium-screen-up) {
    margin-right: -$base-spacing * 1.5;
    width: calc(50% + 1.5em);
  }

  @include grid-media($extra-large-screen-up) {
    margin-right: -$base-spacing * 4;
    width: calc(50% + 4em);
  }

  @media (min-width: 1280px) {
    margin-right: -5em;
    width: calc(50% + 5em);
  }

  @media (min-width: 1360px) {
    margin-right: -7em;
    width: calc(50% + 7em);
  }

  @include grid-media($max-width-up) {
    margin-right: -8em;
    width: calc(50% + 8em);
  }
}

.blog-row {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  @include grid-media($medium-screen-up) {
    flex-direction: row;
  }

  .blog-image-row {
    margin-left: -$base-spacing;
    max-width: none;
    width: calc(100% + 2em);

    @include grid-media($medium-screen-up) {
      margin: 0 $base-spacing 0 $base-spacing;
    }
  }
}

.blog-column {
  display: flex;
  flex-direction: column;

  @include grid-media($large-screen-up) {
    margin-right: $base-spacing;
  }
}

// Image captions.
.caption {
  color: $grey;
  display: block;
  font-size: .9em;
  margin: 0 auto 2em;
  text-align: center;
}
