/**
 * @file
 *
 * Blog post image styles.
 */

/*doc
---
title: Blog post images
name: images--blog-post
category: Components
parent: images;
---

```html_example
```

*/

.blog-image {
  background: $gainsboro;
  box-shadow: 0 2px 4px darken($gainsboro, 10%);
  display: block;
  margin: 1em auto;
  max-width: 250px;

  @include grid-media($medium-screen-up) {
    &.wrap-right {
      float: left;
      margin-right: 40px;
    }

    &.wrap-left {
      float: right;
      margin-left: 40px;
    }
  }

  p {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
  }
}

.blog-image-large {
  @extend .blog-image;
  max-width: 500px;
  width: 100%;
}

.blog-image-xl {
  @extend .blog-image;
  height: auto;
  max-width: 895px; // Width of main post sections on largest screens.
  width: 100%;
}

// Image captions.
.caption {
  display: block;
  font-size: .9em;
  margin: 0 auto 2em;
  text-align: center;
}
