/**
 * @file
 *
 * Styles for the pagination links on the main blog page.
 */

.pagination {
  clear: both;
  font-size: 1.2em;
  margin-top: $base-margin;
  text-align: center;

  .pagination__page-number {
    padding: 0 1em;
  }
}
