/**
 * @file
 *
 * Above the fold styles for blog posts.
 */

.post {
  .post__body {
    @include outer-container;
    @include grid-media($large-screen-up) {
      @include grid-column(8);
      @include grid-shift(2);
    }

    // Header area.
    .post-header {

      // Match margin-bottom of H1.
      margin-bottom: 1.875em;

      p {
        display: inline;
      }

      i {
        color: $dark-teal;
        margin-right: 5px;
      }

      .centerdot {
        font-weight: bold;
      }

      // Featured image.
      .post-featured-image {
        margin: 3em 0;
      }
    }
  }

  // This needs to go in here (to be included in critical.css) to avoid this
  // section flashing at the top of the screen on initial load or hard refresh.
  .post-bottom {
    @include grid-media($large-screen-up) {
      @include grid-column(10);
      @include grid-shift(1);
    }

    @include grid-media($extra-large-screen-up) {
      @include grid-column(8);
      @include grid-shift(2);
    }
  }
}
