/**
 * @file
 *
 * Styles previous/next links.
 */

.previous-next-links {
  .next {
    @include grid-column(6);
    float: left;
  }

  .previous {
    @include grid-column(6);
    float: right;
    text-align: right;
  }
}
