/**
 * @file
 *
 * Above the fold styles for /services.
 */

.services {
  display: flex;
  flex-wrap: wrap;

  .services__service {
    margin-bottom: $base-margin;

    .services__service__icon {
      float: left;
    }

    // This allows us to append "read more" link to paragraph.
    p {
      display: inline;
      margin: 0;
    }
  }
}

.services--main {

  .services__service {

    @include grid-media($large-screen-up) {
      margin-bottom: 0;
      padding: $base-spacing;
      width: 50%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .services__service__icon {
      margin-right: 1em;
    }
  }
}
