/**
 * @file
 *
 * Table styles.
 */

/*doc
---
title: Tables
name: tables
category: Components
---

```html_example
```

*/

// Table refill.
.table-minimal {
  @include table-minimal;
}

// Contact page table.
.table-minimal--contact {
  p {
    display: none;

    @include grid-media($small-screen-up) {
      display: inline;
    }
  }

  .table-minimal--contact__label {
    width: 30%;

    @include grid-media($small-screen-up) {
      width: 50%;
    }
  }
}
