/**
 * @file
 *
 * Styles for the tag pages.
 */

.tag {
  h2 {
    margin-bottom: 1em;
    text-align: center;
  }

  .view-more-link {
    margin-top: $base-spacing;

    .fa-arrow-right {
      margin-left: .25em;
    }
  }
}

.tag__related-case-studies {
  overflow: hidden;

  .tag__related-case-studies__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .case-studies__case-study {
      flex-basis: 20em;
      flex-grow: 0;

      margin: 0 $base-spacing / 2 $base-spacing;
      text-align: center;

      h3 {
        margin: 0 auto;
        padding: $base-margin $base-spacing;
      }

      a,
      a:hover,
      a:focus {
        color: $base-background-color;
      }
    }
  }
}

.tag__related-posts {
  margin-top: $base-margin;
  overflow: hidden;
}
