/**
 * @file
 *
 * Team member bio styles.
 */

.team-member-bio {

  // Set the max width of the component to the max-width of the image at each
  // screen size. This makes sure the image hover style will not overflow the
  // image itself.
  max-width: 254px;

  @include grid-media($small-screen-up) {
    max-width: 334px;
  }

  // Set up hover styles for entire block.
  .team-member-bio__link {
    &:hover,
    &:focus {
      .team-member-bio__image::after {
        background-color: $orange;
        width: 100%;
      }

      .team-member-bio__name {
        color: $orange;
      }

      p {
        color: $dark-teal;
      }
    }
  }

  .team-member-bio__image {
    @include hover-border-bottom;

    margin-bottom: $base-spacing;

    img {
      display: block;
    }
  }

  .team-member-bio__name,
  .team-member-bio__description {
    margin-bottom: 0;
  }

  .team-member-bio__title {
    font-size: .85em;
    text-transform: uppercase;
  }

  p {
    color: $grey;
  }

  h3,
  p {
    transition: color .2s ease-in-out;
  }
}


// Team member page.
.region--team-member-top__wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.region--team-member-top {
  margin: 0 auto;
  max-width: $max-width;
}

.region--team-member-top__image_name {
  display: flex;
  flex-wrap: wrap;
}

.region--team-member-top__image {
  flex-basis: 100%;
  padding: 0;

  @include grid-media($small-screen-up) {
    flex-basis: 35%;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 30%;
  }

  img {
    margin-top: 0;

    @include grid-media($small-screen-up) {
      margin-top: 2em;
    }

    @include grid-media($extra-large-screen-up) {
      padding-right: 1em;
    }
  }
}

.region--team-member-top__name {
  flex-basis: 100%;
  padding: $base-spacing;

  @include grid-media($small-screen-up) {
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 $base-spacing;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 70%;
    padding: $base-spacing;
  }

  h1 {
    color: $dark-teal;
    font-family: $copytext-font;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 0;

    &::after {
      margin: 10px 0 .2em;
    }
  }

  p {
    font-weight: 300;
    margin-bottom: 0;
    text-transform: uppercase;

    @include grid-media($extra-large-screen-up) {
      margin-bottom: .75em;
    }
  }
}

.region--team-member-top__bio_links {
  display: flex;
  flex-wrap: wrap;

  > div {
    padding: 0 $base-spacing;

    @include grid-media($small-screen-up) {
      padding: $base-spacing * 2 $base-spacing 0;
    }
  }
}

.region--team-member-top__links {
  flex-basis: 100%;

  @include grid-media($medium-screen-up) {
    flex-basis: 35%;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 30%;
  }

  ul {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    @include grid-media($medium-screen-up) {
      display: block;
    }

    li {
      list-style: none;
      margin-bottom: .5em;
      padding: .5em;

      @include grid-media($medium-screen-up) {
        display: block;
      }

      a {
        color: $dark-teal;

        &:hover,
        &:focus,
        &active {
          color: $orange;
        }
      }
    }
  }
}

.region--team-member-top__bio {
  flex-basis: 100%;

  @include grid-media($medium-screen-up) {
    flex-basis: 65%;
  }

  @include grid-media($extra-large-screen-up) {
    flex-basis: 40%;
  }
}

.region--team-member-top__badges {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include grid-media($medium-screen-up) {
    margin-left: 35%;
    width: 65%;
  }

  @include grid-media($extra-large-screen-up) {
    align-items: center;
    flex-basis: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
  }

  a {
    text-align: center;
  }

  img {
    height: auto;
    margin-bottom: $base-spacing * 2;
    max-width: 80%;
    width: 140px;
  }
}
