/**
 * @file
 *
 * Blog tile styles for the blog page and subpages.
 */

/*doc
---
title: Detailed blog tile
name: tile--blog--detailed
category: Components
parent: tiles
---

```html_example
<div style="max-width: 400px;">
  <div class="tile--blog tile--blog--detailed tile">
    <a href="/2017/02/20/drupal-docker-pattern-lab.html" class="tile--blog__link">
      <div class="tile--blog__content tile__content bg-light-teal"><div class="tile--blog__image" style="background-image: url(/assets/img/blog/docker-drupal-pattern-lab.jpg);">
        <p class="tile--blog--detailed__primary-tag">Drupal</p>
      </div>
        <div class="tile--blog__post-title">
          <p>Docker and the Drupal Pattern Lab Starter Theme</p>
          <div class="tile--blog--detailed__author">
            <img src="/assets/img/team/dan/dan-square-outside.jpg" class="image--team-blog-tile" itemprop="image" alt="Dan Murphy">
          </div>
          <div class="tile--blog--detailed__author-bg"></div>
        </div>
      </div>
      <div class="tile--blog__hover tile__hover bg-orange">
        <p>This post demonstrates how to build a Docker image that can be used in local Drupal development with the Pattern Lab Starter theme and/or with other common front-end applications such as npm, Gulp, and Bower.</p>
        <p class="link--cta link--cta--inverse">Read more</p>
      </div>
    </a>
  </div>
</div>
```

*/

.tile--blog--detailed {
  .tile--blog__image {
    position: relative;

    .tile--blog--detailed__primary-tag {
      background-color: $teal;
      bottom: 1em;
      color: $eggshell;
      font-size: .9em;
      font-style: italic;
      left: -1em;
      margin-bottom: 0;
      padding: .25em 1em;
      position: absolute;
      text-transform: uppercase;
    }
  }

  .tile--blog__post-title {
    position: relative;
    z-index: 99;

    // Account for the absolutely positioned author image.
    p {
      padding-right: 44px;
    }

    .tile--blog--detailed__author {
      bottom: 0;
      position: absolute;
      right: 0;
      z-index: 999;

      img {
        display: block;
        filter: grayscale(100%);
        height: 60px;
        width: 60px;
      }
    }

    .tile--blog--detailed__author-bg {
      background-color: transparentize($teal, .8);
      bottom: -8px;
      height: 60px;
      position: absolute;
      right: -8px;
      width: 60px;
    }
  }
}
