/**
 * @file
 *
 * Latest blog tile styles.
 */

.tile--blog--latest {
  @include cover-image;

  .tile--blog--latest__link {
    @include hover-border-bottom;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover,
    &:focus {
      &::after {
        background-color: $orange;
        width: 100%;
      }

      .tile--blog--latest__text {
        background-color: transparentize($eggshell, .1);
        color: $dark-teal;

        h2 {
          color: $dark-teal;
        }
      }
    }

    .tile--blog--latest__text {
      @include ease;

      background-color: transparentize($dark-teal, .1);
      color: $eggshell;
      padding: $base-spacing;

      @include grid-media($large-screen-up) {
        padding: $base-spacing $base-spacing * 2;
      }

      h2 {
        @include ease;

        color: $eggshell;
      }

      .tile--blog--latest__text__author,
      .tile--blog--latest__text__date {
        display: inline;
        font-style: italic;
        margin-bottom: 0;
      }

      .tile--blog--latest__text__date {
        float: right;
      }
    }
  }
}
