/**
 * @file
 *
 * General tile styles (doesn't include title tiles).
 */


/*doc
---
title: Tiles
name: tiles
category: Components
---

*/

.tile {

  // Description and read more link should show on link hover.
  .tile__hover {
    display: none;
  }

  &:hover,
  &:focus {
    .tile__content {
      display: none;
    }

    // Content shown on hover.
    .tile__hover {
      align-items: center;
      color: $eggshell;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $base-spacing;
      text-align: center;

      // The tile summary.
      p:first-child {
        margin-bottom: $base-spacing * 1.5;
        max-width: 15em;
      }

      .link--cta {
        margin-bottom: 0;
        transition: all .2s ease-in-out;
      }
    }
  }

  p {
    @include grid-media($extra-large-screen-up) {
      font-size: 1.1em;
    }
  }
}
