/**
 * @file
 *
 * Case study tile styles.
 */

/*doc
---
title: Case study tile
name: tile--case-study
category: Components
parent: tiles
---

```html_example
<div style="max-width: 400px;">
  <div class="tile--case-study tile">
    <a href="/results/case-studies/duke-today/" class="tile--case-study__link">
      <div class="tile--case-study__content tile__content bg-dark-teal" style="background-image: url(/assets/img/work/duke-today/duke-today-tile.jpg);">
        <h3 class="heading--bold c-eggshell h4">Duke Today Redesign</h3>
      </div>
      <div class="tile--case-study__hover tile__hover bg-orange">
        <p>After multiple organizational transitions left Duke’s flagship news outlet’s redesign incomplete, partner Cuberis entrusted Savas Labs to audit the work, implement new functionality, and execute a complex content migration in just 4 months.</p>
        <p class="link--cta link--cta--inverse">Learn more</p>
      </div>
    </a>
  </div>
</div>
```

*/

// The title tile.
.tile--title--case-study {
  @include cover-image;

  background-image: url('/assets/img/au-staircase-tile.jpg');
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing * 3 $base-spacing;
  width: 100%;

  @include grid-media($medium-screen-up) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @include grid-media($large-screen-up) {
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    margin-right: $base-spacing / 4;
    padding: $base-spacing * 6 $base-spacing * 4;
    text-align: right;
    width: 50%;
  }

  .tile--title--case-study__text {

    @include grid-media($medium-screen-up) {
      padding-right: $base-spacing * 2;
    }

    @include grid-media($large-screen-up) {
      max-width: 20em;
      padding-right: 0;
    }

    h2 {
      @include heading-underline($magenta);

      @include grid-media($large-screen-up) {
        @include heading-underline-right($magenta);
      }
    }

    p {
      @include paragraph-loud;

      @include grid-media($large-screen-up) {
        @include paragraph-louder;
      }
    }
  }

  .tile--title--case-study__link {
    flex-shrink: 0;
    margin-top: $base-spacing * 2;
    text-align: center;

    @include grid-media($medium-screen-up) {
      margin: 0;
    }
  }

}

// The case study tiles.
.tile--case-study {
  height: 310px;
  margin-bottom: $base-spacing / 2;
  text-align: center;
  width: 100%;

  @include grid-media($max-width-up) {
    height: 350px;
  }

  // First tile is larger so text should be wider.
  &:first-child {
    .tile__hover {
      p:first-child {
        @include grid-media($medium-screen-up) {
          max-width: 30em;
        }
      }
    }
  }

  // Set 2nd and 3rd tile to 49% so they'll have some space between them.
  &:not(:first-child) {
    @include grid-media($medium-screen-up) {
      margin-bottom: 0;
      width: 49%;
    }
  }

  // Set a height for the background image to fill.
  .tile--case-study__content,
  .tile--case-study__hover {
    height: 310px;

    @include grid-media($max-width-up) {
      height: 350px;
    }
  }

  // Set up tile background image and center the heading.
  .tile--case-study__content {
    @include cover-image;

    align-items: center;
    display: flex;
    justify-content: center;
    padding: $base-spacing / 2;
  }
}
