/**
 * @file
 *
 * Blog tile styles.
 *
 * Note: these aren't included as components in the style guide since their
 * layout styles depend on each other and the region as a whole. See the
 * blog tile region in the style guide for reference, or view
 * 05-regions/_blog-tiles.scss
 */

// Layout styles for title and blog tiles.
.tile--title--blog,
.tile--blog {
  flex-basis: 300px;
  flex-shrink: 0;

  @include grid-media($large-screen-up) {
    flex-basis: 25%;
  }
}

// Styles for the title tile.
.tile--title--blog {
  padding: $base-spacing * 2;
}

// Styles for blog tiles.
.tile--blog {


  // Content shown in non-hover state.
  .tile--blog__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      height: 150px;

      @include grid-media($extra-large-screen-up) {
        height: 175px;
      }
    }

    // Set image as a cover to account for various image sizes.
    .tile--blog__image {
      @include cover-image;

      width: 100%;
    }

    .tile--blog__post-title {
      align-items: center;
      color: $dark-teal;
      display: flex;
      padding: $base-spacing;
      width: 100%;

      p::before {
        @include accent-line($magenta);
      }
    }
  }
}
