---
layout: default
---
<div class="page--basic">
  {% if page.hero_region %}
  {% capture hero_region %}regions/{{ page.hero_region }}{% endcapture %}
  {% include hero_region %}
  {% else %}
  {% include regions/banner--heading.html heading=page.title %}
  {% endif %}
  <article class="page--basic__content">
    {{ content }}
  </article>
  {% if page.cta_heading %}
  {% include regions/cta.html
    heading=page.cta_heading
    paragraph=page.cta_paragraph
    link=page.cta_link
    link_text=page.cta_link_text
    color=page.cta_color %}
  {% endif %}
</div>