---
layout: default
---

<div class="page--service__content" style="background-image: url({{ page.vertical_image }});">
  <div class="page--service__content__main">
    {% include regions/service-icons.html class="icon--service--subtle" %}
    <div class="page--service__content__text">
      <h1 class="heading--underline--orange">{{ page.title }}</h1>
      {{ content }}
      <div class="page--service__content__services list--bordered">
        <ul>
          {% for item in page.services | limit:4 %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <ul>
          {% assign count = 0 %}
          {% for item in page.services %}
          {% if count > 3 %}
          <li>{{ item }}</li>
          {% endif %}
          {% assign count = count | plus:1 %}
          {% endfor %}
        </ul>
      </div>
      <a class="link--arrow" href="/services">Explore our expertise</a>
    </div>
  </div>
</div>
{% for client in site.data.clients %}
{% if client.project == page.quote_project %}
{% include regions/client-quote.html class="region--client-quote--dark" client=client %}
{% endif %}
{% endfor %}
{% if page.slug == 'development' %}
{% include regions/banner--performance-optimization.html %}
{% include regions/banner--custom-integrations.html %}
{% endif %}
<div class="region flex-center">
  <a class="button--arrow--orange" href="/contact">Work with us</a>
</div>
{% if page.slug == 'support-maintenance' %}
{% assign tags = 'strategy|development' | split: '|' %}
{% else %}
{% assign tags = page.slug %}
{% endif %}
{% include regions/case-study-blocks--related--service.html tags=tags %}
{% include regions/blog-tiles--related--service.html tags=tags %}
