---
layout: default
---

{% comment %} Find the name of this tag page. {% endcomment %}
{% for tag in site.data.tags %}
    {% if tag.slug == page.tag %}
        {% assign tag = tag.name %}
    {% endif %}
{% endfor %}
{% if tag == "Event" %}
{% assign title = "Upcoming events" %}
{% else %}
{% assign title = tag %}
{% endif %}
{% include regions/banner--heading.html heading=title %}

{% comment %} See if there are any related case studies. {% endcomment %}
{% assign items = site.case-studies | sort: 'weight' %}
{% assign related_case_studies = 0 %}
{% for item in items %}
{% if item.tags contains page.tag %}
{% assign related_case_studies = related_case_studies | plus: 1 %}
{% endif %}
{% endfor %}

{% comment %} If so, output the top-weighted three. {% endcomment %}
{% if related_case_studies > 0 %}
<div class="tag__related-case-studies">
  <h2 class="heading--underline--orange">Related Case Studies</h2>
  {% include regions/case-study-blocks--related--post.html tags=page.tag limit=3 %}
</div>
<div class="view-more-link">
  <a href="/work" class="button--arrow--orange">View all case studies</a>
</div>
<hr>
{% endif %}

<div class="tag__related-posts">
  <h2 class="heading--underline--orange">Related Blog Posts</h2>
  {% include regions/blog-tiles--related--post.html tags=page.tag limit=8 %}
  <a href="/blog" class="link--arrow">View all blog</a>
</div>
