/**
 * @file
 *
 * Typography: blockquote styles.
 */

/*doc
---
title: Blockquote
name: blockquote
category: Typography
---

```html_example
<blockquote>
  <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh
  onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.</p>
</blockquote>
```

*/

blockquote {
  background: url('/assets/img/icons-and-logos/testimonial-quote.svg') 3% 5% no-repeat;
  background-size: 20%;
  border-bottom: solid 1px $light-orange;
  border-top: solid 1px $light-orange;
  font-style: italic;
  margin: $base-spacing * 2 0;
  padding-bottom: .25em;
  padding-top: .25em;
  position: relative;

  @include grid-media($small-screen-up) {
    background-position: 3% 20%;
    background-size: 12%;
  }

  @include grid-media($large-screen-up) {
    background-position: 7% 20%;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
  }

  &::before {
    border-top: solid 1px $light-orange;
  }

  &::after {
    border-bottom: solid 1px $light-orange;
  }

  p {
    @include paragraph-loud-responsive;

    color: lighten($teal, 10%);
    margin-bottom: 0;
    padding: $base-spacing * 2 $base-spacing;
    text-align: center;

    @include grid-media($small-screen-up) {
      padding: $base-spacing * 2;
    }

    @include grid-media($large-screen-up) {
      padding: $base-spacing * 2 $base-spacing * 4;
    }
  }
}

// In blog posts, align blockquote text left for better readability.
.region--post-content blockquote p {
  text-align: left;
}
