/**
 * @file
 *
 * Typography: hr styles.
 */

/*doc
---
title: Horizontal Rule
name: hr
category: Typography
---

```html_example
<hr>
```

*/

hr {
  border-color: $light-gray;
  clear: both;
  margin: $base-margin 0;
}
