/**
 * @file
 *
 * Typography: intro paragraph styles.
 */

/*doc
---
title: Intro paragraph
name: intro-paragraph
category: Typography
---

```html_example
<div class="intro-paragraph">
  <h2>Our Clients and Partners</h2>
  <p class="paragraph--loud--responsive">Some of the amazing companies and organizations we've had the pleasure of working with</p>
</div>
```

*/

.intro-paragraph {
  margin-bottom: $base-spacing * 3;
  text-align: center;

  p {
    margin: 0 auto;
    max-width: 600px;
  }
}
