/**
 * @file
 *
 * Typography: link styles.
 */

/*doc
---
title: Links
name: links
category: Typography
---
```html_example
<a href="#">This is a link</a>
<p>This is an <a href="#">inline link</a></p>

```
*/