/**
 * @file
 *
 * Typography: link styles.
 */

/*doc
---
title: Links
name: links
category: Typography
---
```html_example_table
<a href="#">Normal link</a>
```
*/

a {
  color: $action-color;
  transition: all .1s linear;

  &:hover,
  &:focus {
    color: $action-color-hover;
  }
}

/*doc
---
title: Inline links
name: link--inline
category: Typography
parent: links
---
```html_example_table
<p>This is an <a href="#">inline link</a></p>
```
*/

// Inline links.
// scss-lint:disable ColorVariable
p a {
  border-bottom: .1em solid transparentize($orange, .9);
  color: $orange;

  &:hover,
  &:focus {
    border-bottom: .1em solid $magenta;
    color: $magenta;
  }
}
// scss-lint:enable ColorVariable


/*doc
---
title: CTA links
name: link--cta
category: Typography
parent: links
---
```html_example_table
<div class="styleguide-cta-link">
  <a href="#" class="link--cta">CTA link</a>
<div>
<div class="styleguide-cta-link styleguide-cta-link--inverse">
  <a href="#" class="link--cta link--cta--inverse">Inverse CTA link</a>
</div>
```
*/

// CTA links.
.link--cta {
  text-transform: uppercase;
}

// White CTA links.
.link--cta--inverse {
  color: $white;

  &:hover,
  &:focus {
    color: lighten($orange, 10%);
  }
}

