/**
 * @file
 *
 * Typography: list styles.
 */

/*doc
---
title: Lists
name: lists
category: Typography
--
*/

/*doc
---
title: Basic lists
name: lists--basic
category: Typography
parent: lists
---

```html_example_table
<ul>
  <li>Drupal CMS</li>
  <li>Architecture</li>
  <li>Software & Databases</li>
  <li>Data Migration</li>
</ul>

<ol>
  <li>E-Commerce</li>
  <li>Performance Optimization</li>
  <li>Automated Testing</li>
  <li>Security</li>
</ol>
```

*/

ul { list-style-type: square; }
ol { list-style-type: decimal; }

ul,
ol {
  margin-bottom: 1em;
  margin-left: 2em;
}

// Keep ems from cascading in nested lists.
// scss-lint:disable ImportantRule
ul ul,
ul ul li,
ul ol,
ul ol li,
ol ul,
ol ul li,
ol ol,
ol ol li {
  font-size: 1em !important;
}
// scss-lint:enable ImportantRule

// Remove margin-bottom from nested uls.
ul ul {
  margin-bottom: 0;
}
