/**
 * @file
 *
 * Typography: list styles.
 */

/*doc
---
title: Lists
name: lists
category: Typography
---

```html_example_table
<ul>
  <li>Drupal CMS</li>
  <li>Architecture</li>
  <li>Software & Databases</li>
  <li>Data Migration</li>
</ul>

<ol>
  <li>E-Commerce</li>
  <li>Performance Optimization</li>
  <li>Automated Testing</li>
  <li>Security</li>
</ol>
```

*/

ul { list-style-type: square; }
ol { list-style-type: decimal; }

ul,
ol {
  margin-bottom: 1em;
  margin-left: 2em;

  // Remove margin-bottom from nested lists.
  ul,
  ol {
    margin-bottom: 0;
  }
}

// Keep ems from cascading in nested lists.
// scss-lint:disable ImportantRule
ul ul,
ul ul li,
ul ol,
ul ol li,
ol ul,
ol ul li,
ol ol,
ol ol li,
ul p,
ol p {
  font-size: 1em !important;
}
// scss-lint:enable ImportantRule

// Article styles.
article {
  ol,
  ul {
    @include post-text;
  }

  li {
    margin-bottom: .325em;

    // Nested list items need top margin to keep spacing consistent.
    li {
      margin-top: .325em;
    }
  }
}
