/**
 * @file
 *
 * Typography: paragraph styles.
 */

/*doc
---
title: Paragraphs
name: paragraphs
category: Typography
---

```html_example
```

*/

body {
  color: $text-color;
  font-family: $copytext-font;
}

.post p,
.post li,
.page-description,
.name-description p,
.team-member p,
.services__service p {
  color: $dark-teal;
  font-size: $base-font-size * 1.2;
}