/**
 * @file
 *
 * Typography: paragraph styles.
 */

/*doc
---
title: Paragraphs
name: paragraphs
category: Typography
---
Use classes `.paragraph--loud` and `.paragraph--louder` for larger text.

```html_example
<p>This is an example paragraph, written just for this style guide! There is
<strong>bold text</strong> and <em>italic text too.</em> This is a normal
paragraph, with the font size set at 1em. Veggies es bonus vobis, proinde vos
postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon
azuki bean garlic.</p>

<p>Here's another paragraph. Note the margin-bottom that separates each
paragraph. Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot
courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame
tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>

<p class="paragraph--loud">This is a loud paragraph. Turnip greens yarrow
ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach
avocado daikon napa cabbage asparagus winter purslane kale.</p>

<p class="paragraph--louder">This is a louder paragraph. Lotus root water
spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin
onion chickpea gram corn pea.</p>
```

*/

body {
  color: $text-color;
  font-family: $copytext-font;
}

// Styles for text-heavy pages like blog posts and job postings.
article {
  color: $dark-teal;
  word-wrap: break-word;

  p,
  ol,
  ul {
    font-family: $post-font;
    font-size: 1.125em;
    line-height: 1.625;
    margin-bottom: 1em;
  }

  blockquote p {
    font-size: 1.4em;
  }
}

.paragraph--loud {
  @include paragraph-loud;
}

.paragraph--louder {
  @include paragraph-louder;
}

.paragraph--loud--responsive {
  @include paragraph-loud-responsive;
}
