/**
 * @file
 *
 * Typography: paragraph styles.
 */

/*doc
---
title: Paragraphs
name: paragraphs
category: Typography
---

```html_example
<p>This is an example paragraph, written just for this style guide! There is
<strong>bold text</strong> and <em>italic text too.</em> This is a normal
paragraph, with the font size set at 1em.</p>

<p class="paragraph--loud">Paragraphs can also be loud, too! This is for short
snippets of text meant to call the attention of the user.</p>
```

*/

body {
  color: $text-color;
  font-family: $copytext-font;
}

.paragraph--loud {
  font-size: 40px;
}
